@page "/projects/{projectId}/pupil-numbers/capacity-when-full/edit"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.PupilNumbers.EditCapacityWhenFullModel
@{
    var backlink = string.Format(RouteConstants.ViewPupilNumbers, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary" />


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
            Edit Capacity when full
        </h1>

        <form class="form" method="post">

            <table class="govuk-table mfsp-pupil-numbers__table-container mfsp-pupil-numbers__table-container--small">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Edit Capacity when full</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header col1">School group</th>
                        <th scope="col" class="govuk-table__header">Capacity</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Nursery</td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="nursery" name="nursery" asp-for="@Model.Nursery" label="Nursery" />
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Reception to year 6</td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="reception-to-year6" name="reception-to-year6" asp-for="@Model.ReceptionToYear6" label="Reception to year 6" />

                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Year 7 to year 11</td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="year7-to-year11" name="year7-to-year11" asp-for="@Model.Year7ToYear11" label="Year 7 to year 11" />

                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Year 12 to year 14</td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="year12-to-year14" name="year12-to-year14" asp-for="@Model.Year12ToYear14" label="Year 12 to year 14" />

                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Special educational needs (specialist resource provision)</td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="special-education-needs" name="special-education-needs" asp-for="@Model.SpecialEducationNeeds" label="Special educational needs" />

                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Alternative provision (specialist resource provision)</td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="alternative-provision" name="alternative-provision" asp-for="@Model.AlternativeProvision" label="Alternative provision" />

                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="govuk-button" data-module="govuk-button" data-testid="save-and-continue">
                Save and continue
            </button>

            @Html.HiddenFor(m => m.SchoolName)
        </form>
    </div>
</div>

