@page "/projects/{projectId}/pupil-numbers/recruitment-and-viability/edit"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.PupilNumbers.EditRecruitmentAndViabilityModel
@{
    var backlink = string.Format(RouteConstants.ViewPupilNumbers, Model.ProjectId);
    ViewData["Title"] = $"Edit Recruitment and viability - {Model.SchoolName}";
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary" />


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
            Recruitment and viability
        </h1>

        <form class="form" method="post">

            <table class="govuk-table mfsp-pupil-numbers__table-container mfsp-pupil-numbers__table-container--small">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Recruitment and viability</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header col1">School year</th>
                        <th scope="col" class="govuk-table__header">Minimum viable number (MVN) for first year</th>
                        <th scope="col" class="govuk-table__header">Applications received</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Reception</td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="reception-minimum-viable-number"
                                                     name="reception.MinimumViableNumber"
                                                     asp-for="@Model.Reception.MinimumViableNumber"
                                                     label="Reception minimum viable number" />
                        </td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="reception-applications-received"
                                                     name="reception.ApplicationsReceived"
                                                     asp-for="@Model.Reception.ApplicationsReceived"
                                                     label="Reception applications received" />
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Year 7 to year 11</td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="year7-to-year11-minimum-viable-number"
                                                     name="year7-to-year11.MinimumViableNumber"
                                                     asp-for="@Model.Year7ToYear11.MinimumViableNumber"
                                                     label="Year 7 to year 11 minimum viable number" />
                        </td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="year7-to-year11-applications-received"
                                                     name="year7-to-year11.ApplicationsReceived"
                                                     asp-for="@Model.Year7ToYear11.ApplicationsReceived"
                                                     label="Year 7 to year 11 applications received" />
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Year 12 to year 14</td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="year12-to-year14-minimum-viable-number"
                                                     name="year12-to-year14.MinimumViableNumber"
                                                     asp-for="@Model.Year12ToYear14.MinimumViableNumber"
                                                     label="Year 12 to year 14 minimum viable number" />
                        </td>
                        <td class="govuk-table__cell">
                            <govuk-number-input-cell id="year12-to-year14-applications-received"
                                                     name="year12-to-year14.ApplicationsReceived"
                                                     asp-for="@Model.Year12ToYear14.ApplicationsReceived"
                                                     label="Year 12 to year 14 applications received" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="govuk-button" data-module="govuk-button" data-testid="save-and-continue">
                Save and continue
            </button>

            @Html.HiddenFor(m => m.SchoolName)
        </form>
    </div>
</div>
