@page "/projects/{projectId}/pupil-numbers/pre16-capacity-buildup/edit"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.PupilNumbers.EditPre16CapacityBuildupModel
@{
    var backlink = string.Format(RouteConstants.ViewPupilNumbers, Model.ProjectId);
    ViewData["Title"] = $"Edit Pre-16 capacity buildup - {Model.SchoolName}";
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
            Edit Pre-16 capacity buildup
        </h1>

        <form class="form" method="post">

            <table class="govuk-table mfsp-pupil-numbers__table-container mfsp-pupil-numbers__table-container--small">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Edit Pre-16 capacity buildup</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header col1">School year</th>
                        <th scope="col" class="govuk-table__header col1">Current capacity (if school is open)</th>
                        <th scope="col" class="govuk-table__header">First year</th>
                        <th scope="col" class="govuk-table__header">Second year</th>
                        <th scope="col" class="govuk-table__header">Third year</th>
                        <th scope="col" class="govuk-table__header">Fourth year</th>
                        <th scope="col" class="govuk-table__header">Fifth year</th>
                        <th scope="col" class="govuk-table__header">Sixth year</th>
                        <th scope="col" class="govuk-table__header">Seventh year</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <govuk-capacity-buildup-row-input asp-for="@Model.Nursery" school-year="Nursery" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Reception" school-year="Reception" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year1" school-year="Year 1" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year2" school-year="Year 2" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year3" school-year="Year 3" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year4" school-year="Year 4" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year5" school-year="Year 5" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year6" school-year="Year 6" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year7" school-year="Year 7" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year8" school-year="Year 8" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year9" school-year="Year 9" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year10" school-year="Year 10" />
                        <govuk-capacity-buildup-row-input asp-for="@Model.Year11" school-year="Year 11" />
                    </tr>
                </tbody>
            </table>
            <button class="govuk-button" data-module="govuk-button" data-testid="save-and-continue">
                Save and continue
            </button>

            @Html.HiddenFor(m => m.SchoolName)
        </form>
    </div>
</div>
