@page "/projects/{projectId}/pupil-numbers/summary"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.PupilNumbers.ViewPupilNumbersModel
@{
    var capacityWhenFull = Model.PupilNumbers.CapacityWhenFull;
    var recruitmentAndViability = Model.PupilNumbers.RecruitmentAndViability;
    var pre16PublishedAdmissionNumber = Model.PupilNumbers.Pre16PublishedAdmissionNumber;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">St George's Primary School</span>
            Pupil numbers
        </h1>

        <table class="govuk-table mfsp-pupil-numbers__table-container mfsp-pupil-numbers__table-container--small">
            <caption class="govuk-table__caption govuk-table__caption--l">Capacity when full</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header col1">School group</th>
                    <th scope="col" class="govuk-table__header">Capacity</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nursery</td>
                    <td class="govuk-table__cell" data-testid="nursery-capacity">@capacityWhenFull.Nursery</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Reception to year 6</td>
                    <td class="govuk-table__cell" data-testid="reception-to-year6-capacity">@capacityWhenFull.ReceptionToYear6</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 7 to year 11</td>
                    <td class="govuk-table__cell" data-testid="year7-to-year11-capacity">@capacityWhenFull.Year7ToYear11</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 12 to year 14</td>
                    <td class="govuk-table__cell" data-testid="year12-to-year14-capacity">@capacityWhenFull.Year12ToYear14</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Special educational needs (specialist resource provision)</td>
                    <td class="govuk-table__cell" data-testid="special-educational-needs-capacity">@capacityWhenFull.SpecialistEducationNeeds</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Alternative provision (specialist resource provision)</td>
                    <td class="govuk-table__cell" data-testid="alternative-provision-capacity">@capacityWhenFull.AlternativeProvision</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Total</strong></td>
                    <td class="govuk-table__cell" data-testid="total-capacity">
                        @capacityWhenFull.Total
                    </td>
                </tr>
            </tbody>
        </table>

        <form action="other-info-pupil-numbers-capacity-edit" method="post" class="govuk-!-margin-bottom-9">
            <button class="govuk-button" data-module="govuk-button">
                Edit Capacity when full
            </button>
        </form>

        <table class="govuk-table mfsp-pupil-numbers__table-container mfsp-pupil-numbers__table-container--small">
            <caption class="govuk-table__caption govuk-table__caption--l">Pre-16 published admission number (PAN)</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header col1">School year</th>
                    <th scope="col" class="govuk-table__header">PAN in first year of opening</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Reception</td>
                    <td class="govuk-table__cell" data-testid="reception-pan">@pre16PublishedAdmissionNumber.ReceptionToYear6</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 7</td>
                    <td class="govuk-table__cell" data-testid="year7-pan">@pre16PublishedAdmissionNumber.Year7</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 10</td>
                    <td class="govuk-table__cell" data-testid="year10-pan">@pre16PublishedAdmissionNumber.Year10</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Other pre-16</td>
                    <td class="govuk-table__cell" data-testid="other-pre16-pan">@pre16PublishedAdmissionNumber.OtherPre16</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Total</strong></td>
                    <td class="govuk-table__cell" data-testid="total-pre16-pan">
                        @pre16PublishedAdmissionNumber.Total
                    </td>
                </tr>
            </tbody>
        </table>

        <form action="other-info-pupil-numbers-capacity-edit" method="post" class="govuk-!-margin-bottom-9">
            <button class="govuk-button" data-module="govuk-button">
                Edit Pre-16 PAN
            </button>
        </form>

        <table class="govuk-table mfsp-pupil-numbers__table-container">
            <caption class="govuk-table__caption govuk-table__caption--l">Recruitment and viability</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header col1">School year</th>
                    <th scope="col" class="govuk-table__header">Minimum viable number (MVN) for first year</th>
                    <th scope="col" class="govuk-table__header">Applications received</th>
                    <th scope="col" class="govuk-table__header">Percentage received compared to MVN</th>
                    <th scope="col" class="govuk-table__header">Percentage received compared to published admission number (PAN)</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Reception to year 6</td>
                    <td class="govuk-table__cell" data-testid="reception-to-year6-mvn">@recruitmentAndViability.ReceptionToYear6.MinimumViableNumber</td>
                    <td class="govuk-table__cell" data-testid="reception-to-year6-applications-received">@recruitmentAndViability.ReceptionToYear6.ApplicationsReceived</td>
                    <td class="govuk-table__cell" data-testid="reception-to-year6-mvn-ratio">@recruitmentAndViability.ReceptionToYear6.PercentageComparedToMinimumViable</td>
                    <td class="govuk-table__cell" data-testid="reception-to-year6-pan-ratio">@recruitmentAndViability.ReceptionToYear6.PercentageComparedToPublishedAdmissionNumber</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 7 to year 11</td>
                    <td class="govuk-table__cell" data-testid="year7-to-year11-mvn">@recruitmentAndViability.Year7ToYear11.MinimumViableNumber</td>
                    <td class="govuk-table__cell" data-testid="year7-to-year11-applications-received">@recruitmentAndViability.Year7ToYear11.ApplicationsReceived</td>
                    <td class="govuk-table__cell" data-testid="year7-to-year11-mvn-ratio">@recruitmentAndViability.Year7ToYear11.PercentageComparedToMinimumViable</td>
                    <td class="govuk-table__cell" data-testid="year7-to-year11-pan-ratio">@recruitmentAndViability.Year7ToYear11.PercentageComparedToPublishedAdmissionNumber</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 12 to year 14</td>
                    <td class="govuk-table__cell" data-testid="year12-to-year14-mvn">@recruitmentAndViability.Year12ToYear14.MinimumViableNumber</td>
                    <td class="govuk-table__cell" data-testid="year12-to-year14-applications-received">@recruitmentAndViability.Year12ToYear14.ApplicationsReceived</td>
                    <td class="govuk-table__cell" data-testid="year12-to-year14-mvn-ratio">@recruitmentAndViability.Year12ToYear14.PercentageComparedToMinimumViable</td>
                    <td class="govuk-table__cell" data-testid="year12-to-year14-pan-ratio">@recruitmentAndViability.Year12ToYear14.PercentageComparedToPublishedAdmissionNumber</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Total</strong></td>
                    <td class="govuk-table__cell" data-testid="mvn-total">
                        @recruitmentAndViability.Total.MinimumViableNumber
                    </td>
                    <td class="govuk-table__cell" data-testid="application-received-total">
                        @recruitmentAndViability.Total.ApplicationsReceived
                    </td>
                    <td class="govuk-table__cell">
                    </td>
                    <td class="govuk-table__cell">
                    </td>
                </tr>
            </tbody>
        </table>

        <form action="other-info-pupil-numbers-recruitment-and-viability-edit" method="post" class="govuk-!-margin-bottom-9">
            <button class="govuk-button" data-module="govuk-button">
                Edit Recruitment and viability
            </button>
        </form>

        <table class="govuk-table mfsp-pupil-numbers__table-container">
            <caption class="govuk-table__caption govuk-table__caption--l">Pre-16 capacity build-up</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header col1">School year</th>
                    <th scope="col" class="govuk-table__header">Current capacity (if school is open)</th>
                    <th scope="col" class="govuk-table__header">First year</th>
                    <th scope="col" class="govuk-table__header">Second year</th>
                    <th scope="col" class="govuk-table__header">Third year</th>
                    <th scope="col" class="govuk-table__header">Fourth year</th>
                    <th scope="col" class="govuk-table__header">Fifth year</th>
                    <th scope="col" class="govuk-table__header">Sixth year</th>
                    <th scope="col" class="govuk-table__header">Seventh year</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nursery</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Reception</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">35</td>
                    <td class="govuk-table__cell">35</td>
                    <td class="govuk-table__cell">35</td>
                    <td class="govuk-table__cell">40</td>
                    <td class="govuk-table__cell">40</td>
                    <td class="govuk-table__cell">40</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 1</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 2</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 3</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 4</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 5</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 6</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 7</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 8</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 9</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 10</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Year 11</td>
                    <td class="govuk-table__cell">0</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Total</strong></td>
                    <td class="govuk-table__cell">
                        0
                    </td>
                    <td class="govuk-table__cell">
                        390
                    </td>
                    <td class="govuk-table__cell">
                        395
                    </td>
                    <td class="govuk-table__cell">
                        395
                    </td>
                    <td class="govuk-table__cell">
                        395
                    </td>
                    <td class="govuk-table__cell">
                        400
                    </td>
                    <td class="govuk-table__cell">
                        400
                    </td>
                    <td class="govuk-table__cell">
                        400
                    </td>
                </tr>
            </tbody>
        </table>

        <form action="other-info-pupil-numbers-pre-16-build-up-capacity-edit" method="post" class="govuk-!-margin-bottom-9">
            <button class="govuk-button" data-module="govuk-button">
                Edit Pre-16 capacity build-up
            </button>
        </form>

        <div class="govuk-grid-row govuk-!-margin-top-6">
            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-m">
                    Related tasks
                </h2>

                <p class="govuk-body">You may want to complete the following related tasks.</p>

                <ol class="app-task-list">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="task-applications-evidence-landing-page" aria-describedby="contact-details-status">
                                Applications evidence
                            </a>
                        </span>
                        <strong class='govuk-tag govuk-tag--grey app-task-list__tag' id='eligibility-status'>Not started</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="task-accepted-place-offers-evidence-landing-page" aria-describedby="contact-details-status">
                                Accepted place offers evidence
                            </a>
                        </span>
                        <strong class='govuk-tag govuk-tag--grey app-task-list__tag' id='eligibility-status'>Not started</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="task-pupil-numbers-checks-landing-page" aria-describedby="contact-details-status">
                                Pupil numbers checks
                            </a>
                        </span>
                        <strong class='govuk-tag govuk-tag--grey app-task-list__tag' id='eligibility-status'>Not started</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>