@page "/projects/{projectId}/tasks/modelfundingagreement/edit"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.ModelFundingAgreement.EditModelFundingAgreementTaskModel
@{
    ViewData["Title"] = $"Edit Model funding agreement - {Model.SchoolName}";

    var backlink = string.Format(RouteConstants.ViewModelFundingAgreement, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary"/>

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>Edit Model funding agreement
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <govuk-checkbox-input id="tailored-model-funding-agreement" name="tailored-model-funding-agreement" asp-for="@Model.TailoredAModelFundingAgreement" label="Tailored a model funding agreement (FA)" />
            <govuk-checkbox-input id="shared-fa-with-the-trust" name="shared-fa-with-the-trust" asp-for="@Model.SharedFAWithTheTrust" label="Shared FA with the trust" />
            <govuk-conditional-radio id="trust-agrees-with-model-fa" label="Trust agrees with the model FA" asp-for="@Model.TrustAgreesWithModelFA">
                <govuk-date-input id="date-trust-agrees-with-model-fa" name="date-trust-agrees-with-model-fa" asp-for="@Model.DateTrustAgreesWithModelFA" hint="For example, 27 3 2021" label="Date Agreed" small-label="true" />
            </govuk-conditional-radio>
            <govuk-textarea-input id="comments" label="Comments" rows="5" name="comments" asp-for="@Model.Comments" add-margin="true" data-testid="funding-arrangements-details-agreed"/>
            <govuk-checkbox-input id="saved-fa-documents-in-workplaces-folder" name="saved-fa-documents-in-workplaces-folder" asp-for="@Model.SavedFADocumentsInWorkplacesFolder" label="Saved FA documents in Workplaces folder" />
            
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>

    </div>
</div>