@page "/projects/{projectId}/tasks/pdg/presumption/edit-payment-schedule"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.Presumption;
@model EditPDGPaymentScheduleModel
@{
    ViewData["Title"] = $"Edit Payment schedule  - {Model.CurrentFreeSchoolName}";
    var backLink = string.Format(RouteConstants.ViewPDGPresumption, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backLink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary" />

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">
        @Model.CurrentFreeSchoolName
    </span>
    Edit Payment schedule
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <govuk-date-input id="payment-due-date" name="payment-due-date" asp-for="@Model.PaymentScheduleDate" data-testid="payment-due-date" label="When is the payment due?" hint="For example, 27 3 2021" add-margin="false" />
            <govuk-decimal-input id="payment-due-amount" name="payment-due-amount" asp-for="@Model.PaymentScheduleAmount" data-testid="payment-due-amount" label="Amount of 1st payment due" hint="This is the initial grant allocation. For example, £25,000.00" isMonetary="true" />
            <govuk-date-input id="actual-payment-date" name="actual-payment-date" asp-for="@Model.PaymentActualDate" data-testid="actual-payment-date" label="Actual payment date" hint="For example, 27 3 2021" add-margin="false" />
            <govuk-decimal-input id="payment-actual-amount" name="payment-actual-amount" asp-for="@Model.PaymentActualAmount" data-testid="payment-actual-amount" label="What is the payment amount?" hint="This is the initial grant allocation. For example, £25,000.00" isMonetary="true" />
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
    </div>
</div>