@page "/projects/{projectId}/tasks/pdg/presumption";
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.Presumption.ViewPDGModel;
@{
    ViewData["Title"] = $"Project development grant (PDG) - {Model.Project.SchoolName}";

    var userAuthorisedToChange = User.IsInRole(RolesConstants.GrantManagers);
    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);

    string BuildLink(string url)
    {
        return userAuthorisedToChange ? string.Format(url, Model.ProjectId) : "";
    }
    var editPaymentScheduleLink = BuildLink(RouteConstants.EditPDGPaymentSchedulePresumption);
    var editTrustLetterLink = BuildLink(RouteConstants.EditPDGTrustLetterPresumption);
    var editStopPaymentLink = BuildLink(RouteConstants.EditStopPaymentPresumption);
    var editRefundsLink = BuildLink(RouteConstants.EditRefundsPresumption);
    var editWriteOffLink = BuildLink(RouteConstants.EditWriteOffPresumption);
    var pdgTask = Model.Project.PDGDashboard;
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Project development grant (PDG)
        </h1>
        <h2 class="govuk-heading-m">Initial payment</h2>
        <govuk-summary-list no-border="true">
            <govuk-summary-item label="Amount" asp-for="@pdgTask.PaymentActualAmount" />
            <govuk-summary-item label="Actual payment date" asp-for="@pdgTask.PaymentActualDate" />
        </govuk-summary-list>
        <govuk-summary-card id="payment-schedule" label="Payment schedule" href="@editPaymentScheduleLink">
            <govuk-summary-list>
                <govuk-summary-item label="Payment due date" asp-for="@pdgTask.PaymentScheduleDate" />
                <govuk-summary-item label="Payment due amount" asp-for="@pdgTask.PaymentScheduleAmount" />
                <govuk-summary-item label="Actual payment date" asp-for="@pdgTask.PaymentActualDate" />
                <govuk-summary-item label="Actual payment amount" asp-for="@pdgTask.PaymentActualAmount" />
            </govuk-summary-list>
        </govuk-summary-card>
        <govuk-summary-card id="trust-letter" label="Trust letter" href="@editTrustLetterLink">
            <govuk-summary-list>
                <govuk-summary-item label="Date when DfE signed PDG letter sent to the trust" asp-for="@pdgTask.TrustSignedPDGLetterDate" />
                <govuk-summary-item label="Saved the signed trust letter in Workplaces folder " asp-for="@pdgTask.PDGLetterSavedInWorkplaces" />
            </govuk-summary-list>
        </govuk-summary-card>
        <govuk-summary-card id="stop-payments" label="Stop payments" href="@editStopPaymentLink">
            <govuk-summary-list>
                <govuk-summary-item label="Are you sure you want to stop payments?" asp-for="@pdgTask.PaymentStopped" />
                @if (pdgTask.PaymentStopped == "Yes")
                {
                    <govuk-summary-item label="Date when payments should stop" asp-for="@pdgTask.PaymentStoppedDate" />
                }
            </govuk-summary-list>
        </govuk-summary-card>
        <govuk-summary-card id="refunds" label="Refunds" href="@editRefundsLink">
            <govuk-summary-list>
                <govuk-summary-item label="Latest refund date" asp-for="@pdgTask.LatestRefundDate" />
                <govuk-summary-item label="Total amount" asp-for="@pdgTask.RefundsTotalAmount" />
            </govuk-summary-list>
        </govuk-summary-card>
        <govuk-summary-card id="write-off" label="Write-off" href="@editWriteOffLink">
            <govuk-summary-list>
                <govuk-summary-item label="Is there any write-off?" asp-for="@pdgTask.IsWriteOffSetup" />
                @if (pdgTask.IsWriteOffSetup == true)
                {
                    <govuk-summary-item label="Write-off reason" asp-for="@pdgTask.WriteOffReason" />
                    <govuk-summary-item label="Write-off amount" asp-for="@pdgTask.WriteOffAmount" />
                    <govuk-summary-item label="Write-off date" asp-for="@pdgTask.WriteOffDate" />
                    <govuk-summary-item label="Finance business partner approval received from" asp-for="@pdgTask.FinanceBusinessPartnerApprovalReceivedFrom" />
                    <govuk-summary-item label="Approval date" asp-for="@pdgTask.ApprovalDate" />
                }
            </govuk-summary-list>
        </govuk-summary-card>
        @if (userAuthorisedToChange)
        {
            <form method="post">
                <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />
                <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                    Confirm and continue
                </button>
            </form>
        }
    </div>
</div>