@page "/project/create/method"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.MethodModel
@{
    ViewData["Title"] = "Create new free school projects";
    var labels = new[] { "Create one project", "Create a central route project", "Upload multiple projects" };
    var values = new[] { ProjectCreateMethod.Individual.ToString(), ProjectCreateMethod.CentralRoute.ToString(), ProjectCreateMethod.Bulk.ToString() };
    var hints = new[]
    {
        "Presumption route only",
        "Central route only",
        "Wave route only"
    };

    const string centralRouteApplicationWaveHintText = @"For example, ""FS Wave 4"" or ""FS Wave 12""";
}

@section BeforeMain {
    <div class="govuk-width-container">
        <a href="/" class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary"/>
    <div class="govuk-grid-column-two-thirds">
        <form class="govuk-form-group" method="post">
            
            <govuk-radios-list>
                <govuk-radios-list-item id="create-presumption-route-project-method"
                                        name="method"
                                        value="@ProjectCreateMethod.Individual.ToString()"
                                        description="Presumption route"
                                        asp-for="@Model.Method"/>

                <govuk-radios-list-item id="create-central-route-project-method"
                                        name="method"
                                        value="@ProjectCreateMethod.CentralRoute.ToString()"
                                        description="Central route"
                                        asp-for="@Model.Method"/>
             
            
            
            </govuk-radios-list>


            @* <govuk-radios-input id="method" *@
            @*                     name="method" *@
            @*                     asp-for="@Model.Method" *@
            @*                     labels="@labels" *@
            @*                     values="@values" *@
            @*                     hints="@hints" *@
            @*                     label="What do you want to do?" *@
            @*                     xl-heading-label="true"/> *@
            <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>