@page "/projects/{projectId}/projectstatus/edit-project-status-withdrawn/{projectStatusId}"
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Common
@using Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectStatus
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectWithdrawnReason.EditProjectWithdrawnModel

@{
    var backlink = string.Format(RouteConstants.EditProjectStatus, Model.ProjectId);
    ViewData["Title"] = "Provide reasons for changing the status - " + $"{Model.Project.ProjectStatus.CurrentFreeSchoolName}";

    var projectWithdrawnReasonLabels = new[]
     {
        ProjectWithdrawnReason.EducationQuality.ToDescription(),
        ProjectWithdrawnReason.Governance.ToDescription(),
        ProjectWithdrawnReason.SiteAndPlanningIssues.ToDescription(),
        ProjectWithdrawnReason.PupilNumbers.ToDescription()
    };

    var projectWithdrawnReasonValues = new[]
    {
        ProjectWithdrawnReason.EducationQuality.ToString(),
        ProjectWithdrawnReason.Governance.ToString(),
        ProjectWithdrawnReason.SiteAndPlanningIssues.ToString(),
        ProjectWithdrawnReason.PupilNumbers.ToString()
    };

    var projectWithdrawnReasonHints = new[]
    {
        "For example, there are concerns about the standard of education the trust will provide",
        "For example, there are concerns about the financial management of the trust",
        "For example, the cost of construction, building/land issues or procurement",
        "For example, basic need and/or financial viability"
    };

    var projectWithdrawnReasonTestIds = new[]
    {
        "project-withdrawn-reason-type-" + ProjectWithdrawnReason.EducationQuality.ToDescription().ToLower(),
        "project-withdrawn-reason-type-" + ProjectWithdrawnReason.Governance.ToDescription().ToLower(),
        "project-withdrawn-reason-type-" + ProjectWithdrawnReason.SiteAndPlanningIssues.ToDescription().ToLower(),
        "project-withdrawn-reason-type-" + ProjectWithdrawnReason.PupilNumbers.ToDescription().ToLower()
    };



    var yesNoLabels = new[] { "Yes", "No" };
    var yesNoValues = new[] { YesNoNotApplicable.Yes.ToString(), YesNoNotApplicable.No.ToString() };

}


@section BeforeMain {
    <govuk-back-link href="@backlink" xmlns="http://www.w3.org/1999/html"/>
}

<partial name="_ErrorSummary"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.Project.ProjectStatus.CurrentFreeSchoolName</span>
            Provide reasons for changing the status
        </h1>
        <form method="post">
            <govuk-date-input id="year-withdrawn" name="year-withdrawn" asp-for="@Model.WithdrawnYear" label="When was the project withdrawn?" hint="For example, 27 3 2021" />
            <govuk-radios-input id="project-withdrawn-reason-type"
                                name="project-withdrawn-reason-type"
                                label="What was the main reason for withdrawing the project?"
                                medium-heading-label=true
                                values="@projectWithdrawnReasonValues"
                                labels="@projectWithdrawnReasonLabels"
                                test-ids="@projectWithdrawnReasonTestIds"
                                asp-for="@Model.ProjectWithdrawnReason" />

            <govuk-radios-input id="project-withdrawn-as-a-result-of-national-review-of-pipeline"
                                name="project-withdrawn-as-a-result-of-national-review-of-pipeline"
                                label="Was this project withdrawn as a result of the 2024/25 national review of pipeline projects?"
                                medium-heading-label=true
                                values="@yesNoValues"
                                labels="yesNoLabels"
                                asp-for="@Model.ProjectWithdrawnAsAResultOfNationalPipelineReview" />

            <govuk-textarea-input id="add-notes-about-the-withdrawal" label="Add notes about the withdrawal" hint="Optional" rows="5" bold-label="true" name="add-notes-about-the-withdrawal" asp-for="@Model.Notes" add-margin="true" data-testid="add-notes-about-the-withdrawal" />

            <button class="govuk-button" data-module="govuk-button" data-testid="save-and-continue">
                Save and continue
            </button>
        </form>
    </div>
</div>