@page "/projects/{projectId}/projectstatus/edit-project-status"
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@using Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectStatus
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectStatus.EditProjectStatusModel

@{
    var backlink = string.Format(RouteConstants.ProjectOverview, Model.ProjectId);
    ViewData["Title"] = "Edit Project status - " + $"{Model.Project.ProjectStatus.CurrentFreeSchoolName}";

    var isPresumptionProject = Model.Project.ProjectType.Contains("Presumption");

    ProjectStatus[] presumptionStatuses = [ProjectStatus.Cancelled, ProjectStatus.Closed, ProjectStatus.Open, ProjectStatus.Preopening, ProjectStatus.WithdrawnInPreOpening];

    var projectStatusOptions = new List<ProjectStatusOption>
    {
        new("project-status-application-competition-stage", ProjectStatus.ApplicationCompetitionStage,
            ProjectStatus.ApplicationCompetitionStage.ToDescription(), "The special or alternative provision application is being considered.", false),

        new("project-status-application-stage", ProjectStatus.ApplicationStage,
            ProjectStatus.ApplicationStage.ToDescription(), "The school's application is being considered.", false),

        new("project-status-cancelled", ProjectStatus.Cancelled, ProjectStatus.Cancelled.ToDescription(), "The project was cancelled in pre-opening.", false),

        new("project-status-closed", ProjectStatus.Closed, ProjectStatus.Closed.ToDescription(), "The school has closed.", true,
            "year-closed", "year-closed", "Date the school was closed", "For example, 23 2 2021", Model.ClosedYear),

        new("project-status-open", ProjectStatus.Open, ProjectStatus.Open.ToDescription(), "The school has opened.", false),

        new("project-status-open-not-included", ProjectStatus.OpenNotIncludedInFigures, ProjectStatus.OpenNotIncludedInFigures.ToDescription(), "For example, this project is not a free school but is using free schools budget.", false),

        new("project-status-pre-opening", ProjectStatus.Preopening, ProjectStatus.Preopening.ToDescription(), "The project stage after the application stage.", false),

        new("project-status-pre-opening-not-included", ProjectStatus.PreopeningNotIncludedInFigures, ProjectStatus.PreopeningNotIncludedInFigures.ToDescription(), "For example, this project is not a free school but is using free schools budget.", false),

        new("project-status-rejected", ProjectStatus.Rejected,
            ProjectStatus.Rejected.ToDescription(), "A Regional Director did not approve the project to move into pre-opening.", false),

        new("project-status-withdrawn-application", ProjectStatus.WithdrawnDuringApplication, ProjectStatus.WithdrawnDuringApplication.ToDescription(), "For example, the trust withdrew their application.", false),

        new("project-status-withdrawn", ProjectStatus.WithdrawnInPreOpening, ProjectStatus.WithdrawnInPreOpening.ToDescription(), "For example, the trust withdrew in the pre-opening stage.", false)
    };
}


@section BeforeMain {
    <govuk-back-link href="@backlink" xmlns="http://www.w3.org/1999/html"/>
}

<partial name="_ErrorSummary"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.Project.ProjectStatus.CurrentFreeSchoolName</span>
            Edit Project status
        </h1>
        <form method="post">

            <div class="govuk-form-group" id="project-status">
                <govuk-radios-list>
                    @{
                        var options = isPresumptionProject ? projectStatusOptions.Where(x => presumptionStatuses.Contains(x.Value)) : projectStatusOptions;

                        foreach (var option in options.OrderBy(x => Enum.GetName(typeof(ProjectStatus), x.Value)))
                        {
                            if (option.IsConditional)
                            {
                                <govuk-radios-list-conditional-item id="@option.Id" value="@option.Value" description="@option.Description" hint="@option.Hint" asp-for="@Model.ProjectStatus" name="project-status">
                                    <govuk-date-input id="@option.DateInputId" name="@option.DateInputName" asp-for="@option.DateInputValueAspFor" label="@option.DateInputLabel" hint="@option.DateInputHint"/>
                                </govuk-radios-list-conditional-item>
                            }
                            else
                            {
                                <govuk-radios-list-item id="@option.Id" value="@option.Value" description="@option.Description" hint="@option.Hint" asp-for="@Model.ProjectStatus" name="project-status"/>
                            }
                        }
                    }
                </govuk-radios-list>
            </div>

            <button class="govuk-button" data-module="govuk-button" data-testid="save-and-continue">
                Save and continue
            </button>
        </form>
    </div>
</div>