@page "/projects/{projectId}/projectstatus/edit-project-status-cancelled"
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Common
@using Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectStatus
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectCancelledReason.EditProjectCancelledModel

@{
    var backlink = string.Format(RouteConstants.EditProjectStatus, Model.ProjectId);
    ViewData["Title"] = "Provide reasons for changing the status - " + $"{Model.Project.ProjectStatus.CurrentFreeSchoolName}";

    var labels = new List<string>();
    var values = new List<string>();
    var testIds = new List<string>();

    foreach (var projectStatusReason in Enum.GetValues<ProjectCancelledReason>().Except(new[] { ProjectCancelledReason.NotSet }))
    {
        labels.Add(projectStatusReason.ToDescription());
        values.Add((projectStatusReason).ToDescription());
        testIds.Add(projectStatusReason.ToDescription());
    }

}


@section BeforeMain {
    <govuk-back-link href="@backlink" xmlns="http://www.w3.org/1999/html"/>
}

<partial name="_ErrorSummary"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.Project.ProjectStatus.CurrentFreeSchoolName</span>
            Provide reasons for changing the status
        </h1>
        <form method="post">
            <govuk-date-input id="year-cancelled" name="year-cancelled" asp-for="@Model.CancelledYear" label="When was the project cancelled?" hint="For example, 27 3 2021" />
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Select the reason for the cancellation
                </legend>
                <govuk-radios-input asp-for="@Model.ProjectCancelledReason"
                                    name="project-cancelled-reason-type"
                                    labels="@labels.ToArray()"
                                    values="@values.ToArray()"
                                    test-ids="@testIds.ToArray()" />

            <div class="govuk-form-group" id="project-cancelled-as-a-result-of-national-review-of-pipeline">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Was this project cancelled as a result of the national review of pipeline projects?
                </legend>
                    <govuk-radios-list-item id="project-cancelled-as-a-result-of-national-review-of-pipeline-yes"
                                            name="project-cancelled-as-a-result-of-national-review-of-pipeline"
                                            value="@YesNoNotApplicable.Yes"
                                            description="Yes"
                                            asp-for="@Model.ProjectCancelledAsAResultOfNationalPipelineReview"/>

                    <govuk-radios-list-item id="project-cancelled-as-a-result-of-national-review-of-pipeline-no"
                                            name="project-cancelled-as-a-result-of-national-review-of-pipeline"
                                            value="@YesNoNotApplicable.No"
                                            description="No"
                                            asp-for="@Model.ProjectCancelledAsAResultOfNationalPipelineReview"/>
            </div>

            <govuk-textarea-input id="add-notes-about-the-cancellation" label="Add notes about the cancellation" hint="Optional" rows="5" bold-label="true" name="add-notes-about-the-cancellation" asp-for="@Model.Notes" add-margin="true" data-testid="add-notes-about-the-cancellation" />

            <button class="govuk-button" data-module="govuk-button" data-testid="save-and-continue">
                Save and continue
            </button>
        </form>
    </div>
</div>