@page "/projects/{projectId}/projectstatus/edit-project-status-cancelled"
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Common
@using Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectStatus
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectCancelledReason.EditProjectCancelledModel

@{
    var backlink = string.Format(RouteConstants.EditProjectStatus, Model.ProjectId);
    ViewData["Title"] = "Provide reasons for changing the status - " + $"{Model.Project.ProjectStatus.CurrentFreeSchoolName}";

    var projectCancelledReasonLabels = new[]
    {
        ProjectCancelledReason.EducationQuality.ToDescription(),
        ProjectCancelledReason.Governance.ToDescription(),
        ProjectCancelledReason.SiteAndPlanningIssues.ToDescription(),
        ProjectCancelledReason.PupilNumbers.ToDescription()
    };

    var projectCancelledReasonValues = new[]
    {
        ProjectCancelledReason.EducationQuality.ToString(),
        ProjectCancelledReason.Governance.ToString(),
        ProjectCancelledReason.SiteAndPlanningIssues.ToString(),
        ProjectCancelledReason.PupilNumbers.ToString()
    };

    var projectCancelledReasonHints = new[]
    {
        "For example, there are concerns about the standard of education the trust will provide",
        "For example, there are concerns about the financial management of the trust",
        "For example, the cost of construction, building/land issues or procurement",
        "For example, basic need and/or financial viability"
    };

    var projectCancelledReasonTestIds = new[]
    {
        "project-cancelled-reason-type-" + ProjectCancelledReason.EducationQuality.ToDescription().ToLower(),
        "project-cancelled-reason-type-" + ProjectCancelledReason.Governance.ToDescription().ToLower(),
        "project-cancelled-reason-type-" + ProjectCancelledReason.SiteAndPlanningIssues.ToDescription().ToLower(),
        "project-cancelled-reason-type-" + ProjectCancelledReason.PupilNumbers.ToDescription().ToLower()
    };



    var yesNoLabels = new[] { "Yes", "No" };
    var yesNoValues = new[] { YesNoNotApplicable.Yes.ToString(), YesNoNotApplicable.No.ToString() };


}


@section BeforeMain {
    <govuk-back-link href="@backlink" xmlns="http://www.w3.org/1999/html"/>
}

<partial name="_ErrorSummary"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.Project.ProjectStatus.CurrentFreeSchoolName</span>
            Provide reasons for changing the status
        </h1>
        <form method="post">
            <govuk-date-input id="year-cancelled" name="year-cancelled" asp-for="@Model.CancelledYear" label="When was the project cancelled?" hint="For example, 27 3 2021" />

            <govuk-radios-input id="project-cancelled-reason-type"
                                name="project-cancelled-reason-type"
                                label="What was the main reason for cancelling the project?"
                                medium-heading-label=true
                                values="@projectCancelledReasonValues"
                                labels="@projectCancelledReasonLabels"
                                hints="@projectCancelledReasonHints"
                                test-ids="@projectCancelledReasonTestIds"
                                asp-for="@Model.ProjectCancelledReason" />

            <govuk-radios-input id="project-cancelled-as-a-result-of-national-review-of-pipeline"
                                name="project-cancelled-as-a-result-of-national-review-of-pipeline"
                                label="Was this project cancelled as a result of the 2024/25 national review of pipeline projects?"
                                medium-heading-label=true
                                values="@yesNoValues"
                                labels="yesNoLabels"
                                asp-for="@Model.ProjectCancelledAsAResultOfNationalPipelineReview" />

            <govuk-textarea-input id="add-notes-about-the-cancellation" label="Add notes about the cancellation" rows="5" bold-label="true" name="add-notes-about-the-cancellation" asp-for="@Model.Notes" add-margin="true" data-testid="add-notes-about-the-cancellation" />

            <button class="govuk-button" data-module="govuk-button" data-testid="save-and-continue">
                Save and continue
            </button>
        </form>
    </div>
</div>