@page "/projects/{projectId}/projectstatus/edit-project-status"
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@model Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectStatus.EditProjectStatusModel

@{
    var backlink = string.Format(RouteConstants.ProjectOverview, Model.ProjectId);
    ViewData["Title"] = "Edit Project status - " + $"{Model.Project.ProjectStatus.CurrentFreeSchoolName}";
    var showError = @Model.ModelState;
    var yearFormatErrorMessage = "Enter a year in the correct format";
    var yearCountErrorMessage = "Enter a year between 2000 and 2050";
}

@section BeforeMain {
    <nav class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </nav>
}

<partial name="_ErrorSummary" />


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.Project.ProjectStatus.CurrentFreeSchoolName</span>
            Edit Project status
        </h1>
        <form method="post">
            <div class="govuk-form-group" id="project-status">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="project-status-1" name="project-status" type="radio" value="@ProjectStatus.Preopening" asp-for="@Model.ProjectStatus">
                            <label class="govuk-label govuk-radios__label" for="project-status-1">
                                @ProjectStatus.Preopening.ToDescription()
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="project-status-2" name="project-status" type="radio" value="@ProjectStatus.Open" asp-for="@Model.ProjectStatus">
                            <label class="govuk-label govuk-radios__label" for="project-status-2">
                                @ProjectStatus.Open.ToDescription()
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="project-status-3" name="project-status" type="radio" value="@ProjectStatus.Closed" asp-for="@Model.ProjectStatus" data-aria-controls="closed-year-date-conditional">
                            <label class="govuk-label govuk-radios__label" for="project-status-3">
                                @ProjectStatus.Closed.ToDescription()
                            </label>
                        </div>
                        @if(showError.ContainsKey("closed-year-error") || showError.ContainsKey("closed-year-count-error"))
                        {
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="closed-year-date-conditional">
                                <div class="govuk-form-group govuk-form-group--error">
                                    <legend  id="closedLabel" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        Year the project was closed
                                    </legend>
                                    <div class="govuk-hint">
                                        For example, 2024
                                    </div>
                                    @if (showError.ContainsKey("closed-year-error"))
                                    {
                                        <span id="closed-year-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> @yearFormatErrorMessage
                                        </span>
                                    }
                                    @if (showError.ContainsKey("closed-year-count-error"))
                                    {
                                        <span id="closed-year-count-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> @yearCountErrorMessage
                                        </span>
                                    }
                                        <input class="govuk-input govuk-!-width-one-third" id="closed-year" aria-labelledby="closedLabel" name="closed-year" asp-for="@Model.ClosedYear" value="@Model.ClosedYear">
                                    </div>
                                </div>
                        }
                        else
                        {
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="closed-year-date-conditional">
                                <div class="govuk-form-group">
                                    <legend id="closedLabel" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        Year the project was closed
                                    </legend>
                                    <div class="govuk-hint">
                                        For example, 2024
                                    </div>
                                    <input class="govuk-input govuk-!-width-one-third" id="closed-year" name="closed-year" aria-labelledby="closedLabel" asp-for="@Model.ClosedYear" value="@Model.ClosedYear">
                                </div>
                            </div>
                        }
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="project-status-4" name="project-status" type="radio" value="@ProjectStatus.Cancelled" asp-for="@Model.ProjectStatus" data-aria-controls="cancelled-year-date-conditional">
                            <label class="govuk-label govuk-radios__label" for="project-status-4">
                                @ProjectStatus.Cancelled.ToDescription()
                            </label>
                        </div>

                        @if (showError.ContainsKey("cancelled-year-error") || showError.ContainsKey("cancelled-year-count-error"))
                        {
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="cancelled-year-date-conditional">
                                <div class="govuk-form-group govuk-form-group--error">
                                    <legend id="cancelledLabel" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        Year the project was cancelled
                                    </legend>
                                    <div class="govuk-hint">
                                        For example, 2024
                                    </div>
                                    @if (showError.ContainsKey("cancelled-year-error"))
                                    {
                                        <span id="cancelled-year-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> @yearFormatErrorMessage
                                        </span>
                                    }
                                    @if (showError.ContainsKey("cancelled-year-count-error"))
                                    {
                                        <span id="cancelled-year-count-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> @yearCountErrorMessage
                                        </span>
                                    }
                                    <input class="govuk-input govuk-!-width-one-third" id="cancelled-year" aria-labelledby="cancelledLabel" name="cancelled-year" asp-for="@Model.CancelledYear" value="@Model.CancelledYear">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="cancelled-year-date-conditional">
                                <div class="govuk-form-group">
                                    <legend id="cancelledLabel" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        Year the project was cancelled
                                    </legend>
                                    <div class="govuk-hint">
                                        For example, 2024
                                    </div>
                                    <input class="govuk-input govuk-!-width-one-third" aria-labelledby="cancelledLabel" id="cancelled-year" name="cancelled-year"  asp-for="@Model.CancelledYear" value="@Model.CancelledYear">
                                </div>
                            </div>
                        }
                        
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="project-status-5" name="project-status" type="radio" value="@ProjectStatus.WithdrawnDuringPreOpening" asp-for="@Model.ProjectStatus" data-aria-controls="withdrawn-year-date-conditional">
                            <label class="govuk-label govuk-radios__label" for="project-status-5">
                                @ProjectStatus.WithdrawnDuringPreOpening.ToDescription()
                            </label>
                        </div>
                        @if (showError.ContainsKey("withdrawn-year-error") || showError.ContainsKey("withdrawn-year-count-error"))
                        {
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="withdrawn-year-date-conditional">
                                <div class="govuk-form-group govuk-form-group--error">
                                    <legend id="withdrawnLabel" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        Year the project was withdrawn
                                    </legend>
                                    <div class="govuk-hint">
                                        For example, 2024
                                    </div>
                                    @if (showError.ContainsKey("withdrawn-year-error"))
                                    {
                                        <span id="withdrawn-year-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>@yearFormatErrorMessage
                                        </span>
                                    }
                                    @if (showError.ContainsKey("withdrawn-year-count-error"))
                                    {
                                        <span id="withdrawn-year-count-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>@yearCountErrorMessage
                                        </span>
                                    }
                                    <input class="govuk-input govuk-!-width-one-third" id="withdrawn-year" name="withdrawn-year" aria-labelledby="withdrawnLabel" asp-for="@Model.WithdrawnYear" value="@Model.WithdrawnYear">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="withdrawn-year-date-conditional">
                                <div class="govuk-form-group">
                                    <legend id="withdrawnLabel" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        Year the project was withdrawn
                                    </legend>
                                    <div class="govuk-hint">
                                        For example, 2024
                                    </div>
                                    <input class="govuk-input govuk-!-width-one-third" id="withdrawn-year" name="withdrawn-year"  asp-for="@Model.WithdrawnYear" value="@Model.WithdrawnYear" aria-labelledby="withdrawnLabel">
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" data-testid="save-and-continue">
                Save and continue
            </button>
        </form>
    </div>
</div>
