@page "/projects/{projectId}/tasks"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.TaskListModel
@{
    var projectOverviewLink = string.Format(RouteConstants.ProjectOverview, Model.ProjectId);
    var taskListLink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var schoolTaskLink = string.Format(RouteConstants.ViewSchoolTask, Model.ProjectId);
    var datesTaskLink = string.Format(RouteConstants.ViewDatesTask, Model.ProjectId);
    var trustTaskLink = string.Format(RouteConstants.ViewTrustTask, Model.ProjectId);
    var constituencyTaskLink = string.Format(RouteConstants.ViewConstituency, Model.ProjectId);
    var regionAndLocalAuthorityLink = string.Format(RouteConstants.ViewRegionAndLocalAuthorityTask, Model.ProjectId);
    var riskAppraisalMeetingLink = string.Format(RouteConstants.ViewRiskAppraisalMeetingTask, Model.ProjectId);
    var kickOffMeetingLink = string.Format(RouteConstants.ViewKickOffMeeting, Model.ProjectId);
    var modelFundingAgreementLink = string.Format(RouteConstants.ViewModelFundingAgreement, Model.ProjectId);
    var statutoryConsultationLink = string.Format(RouteConstants.ViewStatutoryConsultation, Model.ProjectId);
    var articlesOfAssociationLink = string.Format(RouteConstants.ViewArticlesOfAssociation, Model.ProjectId);
    var financePlanLink = string.Format(RouteConstants.ViewFinancePlanTask, Model.ProjectId);
    var draftGovernancePlanLink = string.Format(RouteConstants.ViewDraftGovernancePlanTask, Model.ProjectId);
    var giasLink = string.Format(RouteConstants.ViewGiasTask, Model.ProjectId);
    var educationBriefLink = string.Format(RouteConstants.ViewEducationBriefTask, Model.ProjectId);
    var admissionsArrangementsLink = string.Format(RouteConstants.ViewAdmissionsArrangementsTask, Model.ProjectId);
    var equalitiesAssessmentLink = string.Format(RouteConstants.ViewEqualitiesAssessmentTask, Model.ProjectId);
    var impactAssessmentLink = string.Format(RouteConstants.ViewImpactAssessmentTask, Model.ProjectId);
    var acceptedOffersEvidenceLink = string.Format(RouteConstants.ViewAcceptedOffersEvidenceTask, Model.ProjectId);
    

    ViewData["Title"] = $"{Model.SchoolName} - Task list";
}

@section BeforeMain
{
    <div class="dfe-content-page--header">
        <div class="dfe-width-container ">
            <div class="govuk-grid-row ">
                <div class="govuk-grid-column-three-quarters">
                    <a href="/" class="govuk-back-link">Back to all projects</a>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-top-5 govuk-!-padding-bottom-0">
                <div class="govuk-grid-column-three-quarters">
                    <span class="govuk-body-s" data-testid="project-id-header">Project ID: @Model.ProjectId</span>
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" data-testid="project-title-header">@Model.SchoolName</h1>
                    <p class="govuk-!-font-size-27 govuk-!-font-weight-bold">
                        Task list
                    </p>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-5">
                <div class="govuk-grid-column-full">
                </div>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <nav class="app-sub-navigation" aria-label="sub menu">

            <ul class="app-sub-navigation__list govuk-!-margin-top-6">
                <li class="app-sub-navigation__item">
                    <a class="app-sub-navigation__link" href="@projectOverviewLink">
                        About the project
                    </a>
                </li>
                <li class="app-sub-navigation__item">
                    <a class="app-sub-navigation__link" aria-current="page" href="@taskListLink">Task list</a>
                </li>
                <li class="app-sub-navigation__item">
                    <a class="app-sub-navigation__link" href="#">Project notes</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="govuk-grid-row mfsp-project-overview">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Project progress</h2>

        <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 22 sections.</p>
        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    Setting-up
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@datesTaskLink" class="govuk-link" data-testid="dates-task">
                                @Model.ProjectTaskListSummary.Dates.Name
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.Dates);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@schoolTaskLink" class="govuk-link" data-testid="school-task">
                                @Model.ProjectTaskListSummary.School.Name
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.School);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@trustTaskLink" class="govuk-link" data-testid="trust-task">
                                @Model.ProjectTaskListSummary.Trust.Name
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.Trust);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@regionAndLocalAuthorityLink" class="govuk-link" data-testid="region-la-task">
                                Region and local authority
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.RegionAndLocalAuthority);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@constituencyTaskLink" class="govuk-link" data-testid="constituency-task">
                                @Model.ProjectTaskListSummary.Constituency.Name
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.Constituency);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@riskAppraisalMeetingLink" class="govuk-link" data-testid="risk-appraisal-meeting-task">
                                Risk appraisal meeting
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.RiskAppraisalMeeting);
                        }
                    </li>
                </ul>

                <h2 class="app-task-list__section">
                    Pre-opening
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@kickOffMeetingLink" class="govuk-link" data-testid="kick-off-meeting-task">
                                Kick-off meeting
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.KickOffMeeting);
                        }

                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@modelFundingAgreementLink" class="govuk-link" data-testid="model-funding-agreement-task">
                                Model funding agreement
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.ModelFundingAgreement);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@statutoryConsultationLink" class="govuk-link" data-testid="statutory-consultation-task">
                                Statutory consultation
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.StatutoryConsultation);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@articlesOfAssociationLink" class="govuk-link" data-testid="articles-of-association-task">
                                Articles of association
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.ArticlesOfAssociation);
                        }
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@draftGovernancePlanLink" class="govuk-link" data-testid="draft-governance-plan-task">
                                Draft governance plans
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.DraftGovernancePlan);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@admissionsArrangementsLink" class="govuk-link" data-testid="admissions-arrangements-task">
                                Admissions arrangements
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.AdmissionsArrangements);
                        }
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@financePlanLink" class="govuk-link" data-testid="finance-plan-task">
                                Finance plan
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.FinancePlan);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@equalitiesAssessmentLink" class="govuk-link" data-testid="equalities-assessment-task">
                                Equalities assessment
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.EqualitiesAssessment);
                        }

                    </li>
                </ul>
                <h2 class="app-task-list__section">
                    Sign-off preparation
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@educationBriefLink" class="govuk-link" data-testid="educationBrief-task">
                                Education brief
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.EducationBrief);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@giasLink" class="govuk-link" data-testid="get-information-about-schools">
                                Set up the school on GIAS (Get information about schools)
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.Gias);
                        }

                    </li>
                </ul>
                <h2 class="app-task-list__section">
                    Getting ready to open
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@acceptedOffersEvidenceLink" class="govuk-link" data-testid="acceptedoffersevidence-task">
                                Accepted offers Evidence
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.EvidenceOfAcceptedOffers);
                        }
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@impactAssessmentLink" class="govuk-link" data-testid="impactAssessment-task">
                                Impact assessment
                            </a>
                        </span>
                        @{
                            RenderStatus(Model.ProjectTaskListSummary.ImpactAssessment);
                        }
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>
@functions {

    public void RenderStatus(TaskSummaryResponse task)
    {
        var testId = $"task-{task.Name}-status";

        if (task.Status == ProjectTaskStatus.Completed)
        {
            <strong class="govuk-tag app-task-list__tag" data-testid="@testId">Completed</strong>
        }
        else if (task.Status == ProjectTaskStatus.InProgress)
        {
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" data-testid="@testId">In progress</strong>
        }
        else
        {
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" data-testid="@testId">Not started</strong>
        }
    }

}