@page "/projects/{projectId}/tasks/education-plans-and-policies/edit"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.EducationBrief.EditEducationBriefTaskModel
@{
    ViewData["Title"] = $"Edit Education plans and policies - {Model.SchoolName}";

    var backlink = string.Format(RouteConstants.ViewEducationPlansAndPoliciesTask, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary"/>

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>Edit Education plans and policies
</h1>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

    <form method="post">
         <govuk-checkbox-input id="trust-confirmed-education-plans-and-policies-in-place" name="trust-confirmed-education-plans-and-policies-in-place" asp-for="@Model.EducationPlanInBrief" add-margin="false" label="Trust confirmed it has education plans and policies in place" />
        <govuk-checkbox-input id="education-policies-in-brief" name="education-policies-in-brief" asp-for="@Model.EducationPoliciesInBrief" add-margin="false" label="Education policies are in the education brief" />
        <govuk-checkbox-input id="pupil-assessment-and-tracking-history" name="pupil-assessment-and-tracking-history" asp-for="@Model.PupilAssessmentAndTrackingHistory" add-margin="false" label="Pupil assessment and tracking history are in place" />
        <govuk-checkbox-input id="saved-in-workplaces" name="saved-in-workplaces" asp-for="@Model.SavedInWorkPlaces" add-margin="false" label="Saved documents in Workplaces folder" />
        <button class="govuk-button" data-module="govuk-button" data-testid="continue">
            Save and continue
        </button>
    </form>

</div>
</div>