@page "/projects/{projectId}/tasks/education-plans-and-policies"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.EducationBrief.ViewEducationBriefTask

@{
    ViewData["Title"] = $"Education plans and policies - {Model.Project.SchoolName}";

    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editlink = string.Format(RouteConstants.EditEducationPlansAndPoliciesTask, Model.ProjectId);
    var educationBrief = Model.Project.EducationBrief;
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Education plans and policies
        </h1>
        <govuk-summary-list>
            <govuk-summary-item label="Education plan is in the education brief" asp-for="@educationBrief.EducationPlanInEducationBrief" href="@editlink"/>
            <govuk-summary-item label="Education policies are in the education brief" asp-for="@educationBrief.EducationPolicesInEducationBrief" href="@editlink"/>
            <govuk-summary-item label="Pupil assessment and tracking history are in place" asp-for="@educationBrief.PupilAssessmentAndTrackingHistoryInPlace" href="@editlink"/>
            <govuk-summary-item label="Saved documents in Workplaces folder" asp-for="@educationBrief.EducationBriefSavedToWorkplaces" href="@editlink"/>
        </govuk-summary-list>
        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />
            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l" data-testid="title">Review risk rating</h2>
        <p class="govuk-body">You may want to update the education risk rating.</p>
        <govuk-risk-rating-summary project-id="@Model.ProjectId"
                                   change-link-text="Change"
                                   date="@Model.ProjectRisk.Date"
                                   risk-rating="@Model.ProjectRisk.Overall.RiskRating"
                                   summary="@Model.ProjectRisk.Overall.Summary" />
    </div>
</div>