@page "/projects/{projectId}/contacts"
@using Dfe.ManageFreeSchoolProjects.Pages.Project.Contacts;
@using Dfe.ManageFreeSchoolProjects.Pages.Project;
@using Dfe.ManageFreeSchoolProjects.Constants;
@model ContactsSummaryModel

@{
    ViewData["Title"] = $"Contacts";
    ViewData["WidePage"] = true;
    var projectStatusViewModel = new ProjectStatusViewModel()
    {
        ProjectId = @Model.ProjectId,
        ProjectStatus = @Model.ProjectStatus,
        Referrer = Referrer.ContactsOverview
    };
    var projectOverviewLink = string.Format(RouteConstants.ProjectOverview, Model.ProjectId);
    var taskListLink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var contactsLink = string.Format(RouteConstants.Contacts, Model.ProjectId);
    var projectAssignedToLink = string.Format(RouteConstants.EditProjectAssignedTo, Model.ProjectId);
    var teamLeadLink = string.Format(RouteConstants.EditTeamLead, Model.ProjectId);
    var grade6Link = string.Format(RouteConstants.EditGrade6, Model.ProjectId);
    var projectManagerLink = string.Format(RouteConstants.EditProjectManager, Model.ProjectId);
    var projectDirectorLink = string.Format(RouteConstants.EditProjectDirector, Model.ProjectId);
    var trustContactLink = string.Format(RouteConstants.EditTrustContact, Model.ProjectId);
    var ofstedContactLink = string.Format(RouteConstants.EditOfstedContact, Model.ProjectId);
    var principalDesignateContactLink = string.Format(RouteConstants.EditPrincipalDesignateContact, Model.ProjectId);

    var currentNavIndex = NavConstants.NavItemList.FindIndex(item => item.Description == "Contacts");
}

<partial name="_ErrorSummary"/>

@section BeforeMain
{
    <mfsp-project-header project-id="@Model.ProjectId"
                         school-name="@Model.SchoolName"
                         back-link="/"
                         back-text="Back to all projects"
                         page-title="Contacts"
                         project-status="@projectStatusViewModel" />
}

<div class="govuk-grid-row">
    <mfsp-nav project-id="@Model.ProjectId" current-index="@currentNavIndex" />
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-m govuk-!-font-size-27" id="regions-group">Regions Group</h2>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">Project assigned to</h3>
                    <div class="govuk-summary-card__actions">
                        <a class="govuk-link" href="@projectAssignedToLink" data-testid="edit-project-assigned-to">
                            Change
                            <span class="govuk-visually-hidden">Change Project assigned to (Regions Group)</span>
                        </a>
                    </div>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="project-assigned-to-name">
                                @Model.Contacts.Contacts.ProjectAssignedTo.Name
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="project-assigned-to-email">
                                @Model.Contacts.Contacts.ProjectAssignedTo.Email
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">Team lead</h3>
                    <div class="govuk-summary-card__actions">
                        <a class="govuk-link" href="@teamLeadLink" data-testid="edit-team-lead">
                            Change
                            <span class="govuk-visually-hidden">Change Team lead (Regions Group)</span>
                        </a>
                    </div>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="team-lead-name">
                                @Model.Contacts.Contacts.TeamLead.Name
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="team-lead-email">
                                @Model.Contacts.Contacts.TeamLead.Email
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">Grade 6</h3>
                    <div class="govuk-summary-card__actions">
                        <a class="govuk-link" href="@grade6Link" data-testid="edit-grade-6">
                            Change
                            <span class="govuk-visually-hidden">Change Grade 6 (Regions Group)</span>
                        </a>
                    </div>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="grade-6-name">
                                @Model.Contacts.Contacts.Grade6.Name
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="grade-6-email">
                                @Model.Contacts.Contacts.Grade6.Email
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <h2 class="govuk-heading-m govuk-!-font-size-27" id="education-estates">Education Estates</h2>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">Project manager</h3>
                    <div class="govuk-summary-card__actions">
                        <a class="govuk-link" href="@projectManagerLink" data-testid="edit-project-manager">
                            Change
                            <span class="govuk-visually-hidden">Change Project manager (Education Estates)</span>
                        </a>
                    </div>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="project-manager-name">
                                @Model.Contacts.Contacts.ProjectManager.Name
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="project-manager-email">
                                @Model.Contacts.Contacts.ProjectManager.Email
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">Project director</h3>
                    <div class="govuk-summary-card__actions">
                        <a class="govuk-link" href="@projectDirectorLink" data-testid="edit-project-director">
                            Change
                            <span class="govuk-visually-hidden">Change Project director (Education Estates)</span>
                        </a>
                    </div>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="project-director-name">
                                @Model.Contacts.Contacts.ProjectDirector.Name
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="project-director-email">
                                @Model.Contacts.Contacts.ProjectDirector.Email
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <h2 class="govuk-heading-m govuk-!-font-size-27" id="external">External</h2>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">Principal designate</h3>
                    <div class="govuk-summary-card__actions">
                        <a class="govuk-link" href="@principalDesignateContactLink" data-testid="edit-principal-designate">
                            Change
                            <span class="govuk-visually-hidden">Change Principal designate (External)</span>
                        </a>
                    </div>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="principal-designate-name">
                                @Model.Contacts.Contacts.PrincipalDesignate.Name
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="principal-designate-email">
                                @Model.Contacts.Contacts.PrincipalDesignate.Email
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">Trust contact</h3>
                    <div class="govuk-summary-card__actions">
                        <a class="govuk-link" href="@trustContactLink" data-testid="edit-trust-contact">
                            Change
                            <span class="govuk-visually-hidden">Change Trust contact (External)</span>
                        </a>
                    </div>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="trust-contact-name">
                                @Model.Contacts.Contacts.TrustContact.Name
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="trust-contact-email">
                                @Model.Contacts.Contacts.TrustContact.Email
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone number
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="trust-contact-phone-number">
                                @Model.Contacts.Contacts.TrustContact.PhoneNumber
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="trust-contact-role">
                                @Model.Contacts.Contacts.TrustContact.Role
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h3 class="govuk-summary-card__title">Ofsted contact</h3>
                    <div class="govuk-summary-card__actions">
                        <a class="govuk-link" href="@ofstedContactLink" data-testid="edit-ofsted-contact">
                            Change
                            <span class="govuk-visually-hidden">Change Ofsted contact (External)</span>
                        </a>
                    </div>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="ofsted-contact-name">
                                @Model.Contacts.Contacts.OfstedContact.Name
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="ofsted-contact-email">
                                @Model.Contacts.Contacts.OfstedContact.Email
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone number
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="ofsted-contact-phone-number">
                                @Model.Contacts.Contacts.OfstedContact.PhoneNumber
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="ofsted-contact-role">
                                @Model.Contacts.Contacts.OfstedContact.Role
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>