@page "/projects/{projectId}/contacts/other-info-contacts-edit/{contact}"
@using Dfe.ManageFreeSchoolProjects.Pages.Project.Contacts;
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.Extensions;
@model EditContactModel


@{
    ViewData["Title"] = $"Edit {StringExtensions.SentenceCase(Model.Contact.Replace("-", " "))}";
    var contactPascal = StringExtensions.KebabToPascalCase(Model.Contact);

    var backLink = string.Format(RouteConstants.ViewContacts, Model.ProjectId);
    var contactName = Model.PageContacts.Contacts.GetType().GetProperty(contactPascal + "Name").GetValue(Model.PageContacts.Contacts, null);
    var contactEmail = Model.PageContacts.Contacts.GetType().GetProperty(contactPascal + "Email").GetValue(Model.PageContacts.Contacts, null);

}

<partial name="_ErrorSummary" />

@section BeforeMain {
    <div class="govuk-width-container">
        <a href="@backLink" class="govuk-back-link">Back to contacts summary</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" data-testid="edit-contact-title">
        <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
        <h1 class="govuk-heading-xl">
            @ViewData["Title"]
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            <label class="govuk-label govuk-heading-m" for="contact-name">
            Name
            </label>

            <govuk-text-input 
                id="contact-name" 
                name="contact-name"
                asp-for="@contactName"
                test-id="edit-contact-name"
                />
            
             <label class="govuk-label govuk-heading-m" for="contact-email">
            Email
            </label>
            <govuk-text-input 
                id="contact-email" 
                name="contact-email" 
                asp-for="@contactEmail" 
                test-id="edit-contact-email"
                />
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
    </div>
</div>