@page "/projects/{projectId}/contacts/other-info-contacts-multi-academy-trust-chair-of-governors-edit"
@using Dfe.ManageFreeSchoolProjects.Pages.Project.Contacts;
@using Dfe.ManageFreeSchoolProjects.Constants;
@model EditTrustChairContactModel


@{
    ViewData["Title"] = $"Edit trust chair";
    var backLink = string.Format(RouteConstants.ViewContacts, Model.ProjectId);
    
}

<partial name="_ErrorSummary" />

@section BeforeMain {
    <div class="govuk-width-container msfp-wider-page">
        <a href="@backLink" class="govuk-back-link">Back to contacts summary</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="edit-trust-chair-title">
              <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
            @ViewData["Title"]
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            <label class="govuk-label govuk-heading-m" for="trust-chair-name">
            Name
            </label>

            <govuk-text-input 
                id="trust-chair-name" 
                name="trust-chair-name" 
                asp-for="@Model.PageContacts.Contacts.ChairOfGovernorsName" 
                test-id="edit-trust-chair-name"
                />
            
             <label class="govuk-label govuk-heading-m" for="trust-chair-name">
                            Email
                        </label>
                        <govuk-text-input 
                            id="trust-chair-email" 
                            name="trust-chair-email" 
                            asp-for="@Model.PageContacts.Contacts.ChairOfGovernorsEmail" 
                            test-id="edit-trust-chair-email"
                            />
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
    </div>
</div>