@page "/projects/{projectId}/contacts/other-info-contacts-school-chair-of-governors-edit"
@using Dfe.ManageFreeSchoolProjects.Pages.Project.Contacts;
@using Dfe.ManageFreeSchoolProjects.Constants;
@model EditSchoolChairContactModel


@{
    ViewData["Title"] = $"Edit school chair of governors";
    var backLink = string.Format(RouteConstants.ViewContacts, Model.ProjectId);
    
}

<partial name="_ErrorSummary" />

@section BeforeMain {
    <div class="govuk-width-container msfp-wider-page">
        <a href="@backLink" class="govuk-back-link">Back to contacts summary</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
        <h1 class="govuk-heading-xl">
            @ViewData["Title"]
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            <label class="govuk-label govuk-heading-m" for="school-chair-name">
            Name
            </label>

            <govuk-text-input 
                id="school-chair-name" 
                name="school-chair-name" 
                asp-for="@Model.PageContacts.Contacts.SchoolChairOfGovernorsName" 
                test-id="school-chair-name"
                />
            
             <label class="govuk-label govuk-heading-m" for="school-chair-email">
                            Email
                        </label>
                        <govuk-text-input 
                            id="school-chair-email" 
                            name="school-chair-email" 
                            asp-for="@Model.PageContacts.Contacts.SchoolChairOfGovernorsEmail" 
                            test-id="school-chair-email"
                            />
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
    </div>
</div>