@page "/projects/{projectId}/tasks/trust"
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.Trust.ViewTrustTaskModel
@{
    ViewData["Title"] = $"Trust - {Model.Project.SchoolName}";
    var editlink = string.Format(RouteConstants.SearchTrustTask, Model.ProjectId);
    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);

    var trustTask = Model.Project.Trust;
}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Project.SchoolName</span>
            Trust
        </h1>

        <govuk-summary-list>
            <govuk-summary-item label="TRN (trust reference number)" asp-for="@trustTask.TRN" href="@editlink" />
            <govuk-summary-item label="Trust name" asp-for="@trustTask.TrustName" render-link="false" />
            <govuk-summary-item label="Trust type" asp-for="@trustTask.TrustType" render-link="false" />
        </govuk-summary-list>

        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />

            <button class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </button>
        </form>

    </div>
</div>