@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@inject Dfe.ManageFreeSchoolProjects.Services.IAnalyticsConsentService _analytisConsentService

@{
    var showAnalytics = _configuration["GoogleAnalytics:Enable"] == "Yes" && _analytisConsentService.HasConsent();

    var titleDescription = Context.Request.Path == "/project-type"
        ? string.Empty
        : "- Manage free school projects";


    var widePage = ViewData["WidePage"] != null ? "mfsp-wider-page" : string.Empty;

    var supportLink = $"mailto:{_configuration["SupportEmail"]}?subject=Manage%20free%20school%20projects:%20support%20query";
}

<!DOCTYPE html>
<html class="govuk-template" lang="en">
<head>
    @if (showAnalytics)
    {
        <!-- Google Tag Manager -->
        <script asp-add-nonce>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5TFNH73B');</script>
        <!-- End Google Tag Manager -->
    }

    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

    <title>@ViewData["Title"] @titleDescription</title>
    <link rel="stylesheet" href="~/dist/site.css"/>
    <link rel="stylesheet" href="~/dist/accessible-autocomplete.min.css" asp-add-nonce/>
</head>
<body class="govuk-template__body govuk-frontend-supported @widePage">

@if (showAnalytics)
{
    <!-- Google Tag Manager (noscript) -->
    <noscript asp-add-nonce>
        <iframe title="GATagManager" src="https://www.googletagmanager.com/ns.html?id=GTM-5TFNH73B" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
}


<script asp-add-nonce>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

<script src="~/dist/jquery.min.js" asp-add-nonce></script>


<a href="#main-content" class="govuk-skip-link">Skip to main content</a>


<partial name="_CookieBanner"/>
<partial name="_NotificationBanner"/>
<partial name="_BetaBanner" />
<header class="dfe-header" role="banner">
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <div class="dfe-width-container dfe-header__container">
        <div class="dfe-header__logo">
            <a class="dfe-header__link dfe-header__link--service " href="/">
                <img src="~/assets/dfe-logo.png" class="dfe-logo" alt="Department for Education">
                <img src="~/assets/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
            </a>
        </div>
    </div>
    <div class="dfe-width-container dfe-header__service-name">
        <a href="/" class="dfe-header__link--service">Manage free school projects</a>
    </div>
    @await RenderSectionAsync("AfterHeader", required: false)
</header>
@await RenderSectionAsync("BeforeMain", required: false)
<div class="govuk-main-wrapper">
    <main id="main-content" role="main" class="govuk-width-container @widePage">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <partial name="_NotificationSummary"/>
                @RenderBody()
            </div>
        </div>
    </main>
</div>
<footer class="govuk-footer">
    <div class="govuk-width-container">
        <div class="govuk-footer__navigation">
            <div class="govuk-footer__section govuk-grid-column-two-thirds">
                <h2 class="govuk-footer__heading govuk-heading-m">Get help</h2>
                <ul class="govuk-footer__list govuk-footer__list--column-1">
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="@supportLink">
                            Email Service Support for help with using this system
                        </a>
                        <p>We aim to respond within 5 working days, or one working day for more urgent queries.</p>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="@_configuration["HowToUseLink"]" target="_blank">
                            How to use this system (opens in a new tab)
                        </a>
                    </li>
                </ul>
            </div>
            <div class="govuk-footer__section govuk-grid-column-one-third">
                <h2 class="govuk-footer__heading govuk-heading-m">Give feedback</h2>
                <ul class="govuk-footer__list">
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="@_configuration["FeedbackLink"]" target="_blank">Give feedback (opens in a new tab)</a>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="@_configuration["SuggestionsLink"]" target="_blank">Suggest a change (opens in a new tab)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/accessibility-statement">
                            Accessibility statement
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/public/cookies?returnUrl=%2f">
                            Cookies
                        </a>
                    </li>
                </ul>
                <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                    <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                </svg>
                <span class="govuk-footer__licence-description">
                    All content is available under the
                    <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">
                        Open
                        Government Licence v3.0
                    </a>, except where otherwise stated
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
                    © Crown copyright
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="~/dist/accessible-autocomplete.min.js" asp-add-nonce></script>
<script src="~/dist/site.js" asp-add-nonce></script>
</body>
</html>
