@model Dfe.ManageFreeSchoolProjects.ViewModels.NumberRangeViewModel
@{
	var showError = !string.IsNullOrWhiteSpace(Model.ErrorMessage);
}

<div class="govuk-form-group @(showError ? "govuk-form-group--error" : "")" id="@Model.Id">
	<fieldset class="govuk-fieldset" role="group" aria-describedby="@Model.Id-hint">
		@if (Model.HeadingLabel)
		{
			<legend class="govuk-fieldset__legend--l">
				<h1 class="govuk-fieldset__heading">
					<label for="@Model.Id">@Model.Label</label>
				</h1>
			</legend>
		}
		else if (Model.HeadingLabelMedium)
		{
			<label class="govuk-label govuk-heading-m" for="@Model.Id">@Model.Label</label>
		}
		else
		{
			<legend class="govuk-fieldset__legend govuk-fieldset__legend--s" for="@Model.Id">
				<label for="@Model.Id">@Model.Label</label>
			</legend>
		}

		<div id="@Model.Id-hint" class="govuk-hint">
			@Model.Hint
		</div>
		@if (showError)
		{
			<span id="@Model.Id-error" class="govuk-error-message">
				<span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
			</span>
		}
		<div class="govuk-date-input">
			<div class="govuk-date-input__item">
				<div class="govuk-form-group">
					<label for="@Model.Id-from" class="govuk-visually-hidden">
						From
					</label>
					<input class="govuk-input govuk-input--width-2 @(Model.FromInvalid ? "govuk-input--error" : "")"
						   id="@Model.Id-from" name="@Model.Name-from"
						   data-testid="@Model.Id-from"
						   value="@Model.From"
						   type="text">
				</div>
			</div>
			<div class="govuk-date-input__item">
				<div class="govuk-form-group">
					<p class="govuk-label">
						To
					</p>
				</div>
			</div>
			<div class="govuk-date-input__item">
				<div class="govuk-form-group">
					<label for="@Model.Id-to" class="govuk-visually-hidden">
						To
					</label>
					<input class="govuk-input govuk-input--width-2 @(Model.ToInvalid ? "govuk-input--error" : "")"
						   id="@Model.Id-to"
						   name="@Model.Name-to"
						   data-testid="@Model.Id-to"
						   value="@Model.To"
						   type="text">
				</div>
			</div>
		</div>
	</fieldset>
</div>