@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@using Microsoft.IdentityModel.Tokens
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.ViewModels.ProjectStatusViewModel
@{
    var editlink = string.Format(RouteConstants.EditProjectStatus, Model.ProjectId);
}
    <p>
   
    @if (Model.ProjectStatus == ProjectStatus.Preopening)
    {
        <strong class="govuk-tag govuk-tag--yellow">@ProjectStatus.Preopening.ToDescription()</strong>
    }
    @if (Model.ProjectStatus== ProjectStatus.Open)
    {
        <strong class="govuk-tag govuk-tag--turquoise">@ProjectStatus.Open.ToDescription()</strong>
    }
    @if (Model.ProjectStatus == ProjectStatus.Closed)
         {
             <strong class="govuk-tag govuk-tag--blue">@ProjectStatus.Closed.ToDescription()</strong>
         }
     @if (Model.ProjectStatus == ProjectStatus.Cancelled)
        {
            <strong class="govuk-tag govuk-tag--orange">@ProjectStatus.Cancelled.ToDescription()</strong>
        }
    @if (Model.ProjectStatus == ProjectStatus.WithdrawnDuringPreOpening)
        {
            <strong class="govuk-tag govuk-tag--orange">@ProjectStatus.WithdrawnDuringPreOpening.ToDescription()</strong>
        }

    <a class="govuk-link govuk-!-padding-left-5" href="@editlink">Change project status</a>
</p>
