@using DocumentFormat.OpenXml.Vml.Spreadsheet
@using DocumentFormat.OpenXml.Drawing.Diagrams
@using Microsoft.IdentityModel.Tokens
@model Dfe.ManageFreeSchoolProjects.TagHelpers.SummaryItemListViewModel

@functions {
}

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">@Model.Label</dt>
    @if (!Model.List.Any())
    {
        <dd class="govuk-summary-list__value" data-testid="projectid">
            @foreach (string value in @Model.List)
            {
                @value<br/>
                <br/>
            }
        </dd>
    }
    
    else
    {
        <dd class="govuk-summary-list__value" data-testid="projectid">
           <span class="empty">Empty</span>
        </dd>
    }

    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href=@Model.Href Id="@Model.Id+-changeLink">
        Change<span class="govuk-visually-hidden">@Model.Label</span>
        </a>
    </dd>
</div>