@page "/bulk/upload/addproject"
@model Dfe.ManageFreeSchoolProjects.Pages.BulkUpload.BulkAddProjectModel
@{
}

<form method="post" enctype="multipart/form-data">
    <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload">
            Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload" name="upload" type="file" accept=".xlsx">
        <button class="govuk-button" data-module="govuk-button">
            Submit
        </button>
    </div>
</form>


@if (Model.ProjectTable != null)
{
    <div>
        @foreach (var row in Model.ProjectTable.Rows)
        {
            <h2>@row.ProjectTitle</h2>
            <p>@row.ProjectId</p>
            <p>@row.TrustName</p>
            <p>@row.Region</p>
            <p>@row.LocalAuthority</p>
            <p>@row.RealisticOpeningDate</p>
            <p>@row.Status</p>
        }
    </div>
}
