@page  "/projects/{projectId}/tasks/pdg/central/edit-grant-letters"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.Central.EditPDGGrantLetters

@{
    ViewData["Title"] = $"Edit Payment schedule  - {Model.CurrentFreeSchoolName}";
    var backLink = string.Format(RouteConstants.ViewPDGCentral, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backLink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary"/>

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">@Model.CurrentFreeSchoolName</span>
    Edit Grant Letters
</h1>

@{
    if (Model.PdgGrantLetters.PdgGrantLetterDate != null || Model.PdgGrantLetters.PdgGrantLetterLink != null)
    {
        var initialGrantLetterSavedInWorkplacesFolder = !string.IsNullOrEmpty(Model.PdgGrantLetters.PdgGrantLetterLink);
        var fullGrantLetterSavedInWorkplacesFolder = !string.IsNullOrEmpty(Model.PdgGrantLetters.PdgGrantLetterLink);

        <govuk-summary-card id="grant-letters" label="Grant letters">
            <govuk-summary-list>
                <govuk-summary-item label="Date when DfE signed the initial grant letter" asp-for="@Model.PdgGrantLetters.PdgGrantLetterDate"/>
                <govuk-summary-item label="Saved the signed initial grant letter in Workplaces folder" asp-for="@initialGrantLetterSavedInWorkplacesFolder"/>
                <govuk-summary-item label="Date when DfE signed the final grant letter" asp-for="@Model.PdgGrantLetters.PdgGrantLetterDate"/> @* TODO: verify fields correct*@
                <govuk-summary-item label="Saved the signed full grant letter in Workplaces folder" asp-for="@fullGrantLetterSavedInWorkplacesFolder"/>
            </govuk-summary-list>
        </govuk-summary-card>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="govuk-form-group" method="post">
                    <button class="govuk-button" name="action" value="AddGrantLetter">
                        Add grant letter
                    </button>
                </form>
            </div>
        </div>
    }
    
    if (Model.PdgGrantLetters.FirstPdgGrantVariationDate != null || !string.IsNullOrEmpty(Model.PdgGrantLetters.FirstPdgGrantVariationLink))
    {
        var firstVariationLetterSavedToWorkplaces = !string.IsNullOrEmpty(Model.PdgGrantLetters.FirstPdgGrantVariationLink);
        
        <govuk-summary-card id="grant-letters-first-variation" label="Grant letters">
            <govuk-summary-list>
                <govuk-summary-item label="Due date of variation letter" asp-for="@Model.PdgGrantLetters.FirstPdgGrantVariationDate"/>
                <govuk-summary-item label="Saved the variation letter in Workplaces folder" asp-for="@firstVariationLetterSavedToWorkplaces"/>
            </govuk-summary-list>
        </govuk-summary-card>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="govuk-form-group" method="post">
                    <button class="govuk-button" name="action" value="AddVariationLetter1">
                        Add variation letter 1
                    </button>
                </form>
            </div>
        </div>
    }
    
    if (Model.PdgGrantLetters.SecondPdgGrantVariationDate != null || !string.IsNullOrEmpty(Model.PdgGrantLetters.SecondPdgGrantVariationLink))
    {
        var secondVariationLetterSavedToWorkplaces = !string.IsNullOrEmpty(Model.PdgGrantLetters.SecondPdgGrantVariationLink);
        
        <govuk-summary-card id="grant-letters-second-variation" label="Grant letters">
            <govuk-summary-list>
                <govuk-summary-item label="Due date of variation letter" asp-for="@Model.PdgGrantLetters.SecondPdgGrantVariationDate"/>
                <govuk-summary-item label="Saved the variation letter in Workplaces folder" asp-for="@secondVariationLetterSavedToWorkplaces"/>
            </govuk-summary-list>
        </govuk-summary-card>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="govuk-form-group" method="post">
                    <button class="govuk-button" name="action" value="AddVariationLetter2">
                        Add variation letter 2
                    </button>
                </form>
            </div>
        </div>
    }
    
    if (Model.PdgGrantLetters.ThirdPdgGrantVariationDate != null || !string.IsNullOrEmpty(Model.PdgGrantLetters.ThirdPdgGrantVariationLink))
    {
        var thirdVariationLetterSavedToWorkplaces = !string.IsNullOrEmpty(Model.PdgGrantLetters.ThirdPdgGrantVariationLink);
        
        <govuk-summary-card id="grant-letters-third-variation" label="Grant letters">
            <govuk-summary-list>
                <govuk-summary-item label="Due date of variation letter" asp-for="@Model.PdgGrantLetters.ThirdPdgGrantVariationLink"/>
                <govuk-summary-item label="Saved the variation letter in Workplaces folder" asp-for="@thirdVariationLetterSavedToWorkplaces"/>
            </govuk-summary-list>
        </govuk-summary-card>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="govuk-form-group" method="post">
                    <button class="govuk-button" name="action" value="AddVariationLetter3">
                        Add variation letter 3
                    </button>
                </form>
            </div>
        </div>
    }
    
    if (Model.PdgGrantLetters.FourthPdgGrantVariationDate != null || !string.IsNullOrEmpty(Model.PdgGrantLetters.FourthPdgGrantVariationLink))
    {
        var fourthVariationLetterSavedToWorkplaces = !string.IsNullOrEmpty(Model.PdgGrantLetters.FourthPdgGrantVariationLink);
        
        <govuk-summary-card id="grant-letters-fourth-variation" label="Grant letters">
            <govuk-summary-list>
                <govuk-summary-item label="Due date of variation letter" asp-for="@Model.PdgGrantLetters.FourthPdgGrantVariationDate"/>
                <govuk-summary-item label="Saved the variation letter in Workplaces folder" asp-for="@fourthVariationLetterSavedToWorkplaces"/>
            </govuk-summary-list>
        </govuk-summary-card>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="govuk-form-group" method="post">
                    <button class="govuk-button" name="action" value="AddVariationLetter4">
                        Add variation letter 4
                    </button>
                </form>
            </div>
        </div>
    }
}