@page "/projects/{projectId}/tasks/pdg/central/edit-variation-letter/{variation}"
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.Central.EditPDGVariationLetter

@{
    ViewData["Title"] = $"Edit variation letter {@Model.Variation} - {Model.CurrentFreeSchoolName}";
    var backLink = string.Format(RouteConstants.EditPDGGrantLetters, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backLink class="govuk-back-link">Back</a>
    </div>
}


<partial name="_ErrorSummary"/>

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">
        @Model.CurrentFreeSchoolName
    </span>
    Edit variation letter @Model.Variation
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
                <govuk-date-input id="due-date-variation-letter" name="due-date-variation-letter" asp-for="@Model.DueDateOfVariationLetter" data-testid="due-date-variation-letter" label="Due date of variation letter" hint="For example, 27 3 2021" add-margin="false"/>

                <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" asp-for="@Model.VariationLetterSavedToWorkplaces" id="initial-grant-letter-saved-to-workplaces-folder"
                                   data-testid="initial-grant-letter-saved-to-workplaces-folder" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="initial-grant-letter-saved-to-workplaces-folder">
                                Saved the signed initial grant letter to Workspaces folder
                            </label>
                        </div>
                    </div>
                </fieldset>
                <br/>

                <button class="govuk-button govuk-!-width-one-third" data-module="govuk-button" data-testid="continue">
                    Save and continue
                </button>
        </form>
        <form action="@backLink">
            <button class="govuk-button govuk-button--warning govuk-!-width-one-third" data-module="govuk-button" data-testid="discard">
                Discard
            </button>
        </form>
    </div>
</div>