 @page "/projects/{projectId}/tasks/pdg/central";
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.Central.ViewPDGModel;
@{
    ViewData["Title"] = $"Project development grant (PDG) - {Model.Project.SchoolName}";

    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editPaymentScheduleLink = string.Format(RouteConstants.EditPDGPaymentScheduleCentral, Model.ProjectId);
    var editTrustLetterLink = string.Format(RouteConstants.EditPDGTrustLetterCentral, Model.ProjectId);
    var editStopPaymentLink = string.Format(RouteConstants.EditStopPaymentCentral, Model.ProjectId);
    var editRefundsLink = string.Format(RouteConstants.EditRefundsCentral, Model.ProjectId);
    var editWriteOffLink = string.Format(RouteConstants.EditWriteOffCentral, Model.ProjectId);
    var pdgTask = Model.Project.PDGDashboard;

    var numberOfScheduledPayments = Model.ProjectPayments.Payments.Count();
    var numberOfSentPayments = Model.ProjectPayments.Payments.Where(p => p.PaymentActualDate < DateTime.Now).Count();
    var nextPaymentDate = Model.ProjectPayments.Payments.Where(p => p.PaymentIndex == numberOfSentPayments + 1).Select(p => p.PaymentScheduleDate).FirstOrDefault();
    var nextPaymentAmount = Model.ProjectPayments.Payments.Where(p => p.PaymentIndex == numberOfSentPayments + 1).Select(p => p.PaymentScheduleAmount).FirstOrDefault();
    var amountSent = Model.ProjectPayments.Payments.Where(p => p.PaymentActualDate < DateTime.Now).Select(p => p.PaymentActualAmount).Sum();
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Project development grant (PDG)
        </h1>
        <h2 class="govuk-heading-m">Summary</h2>
        <govuk-summary-list no-border="true">
            <govuk-summary-item label="Total amount" asp-for="@pdgTask.PaymentActualAmount" />
        </govuk-summary-list>

        <govuk-summary-card id="total-grant" label="Total grant" href="@editPaymentScheduleLink">
            <govuk-summary-list>
               @*  <govuk-summary-item label="Total amount" />
                <govuk-summary-item label="Initial grant allocation date / revised grant allocation date" /> *@
            </govuk-summary-list>
        </govuk-summary-card>

        <govuk-summary-card id="payment-schedule" label="Payment schedule" href="@editPaymentScheduleLink">
            <govuk-summary-list>
                <govuk-summary-item label="Number of scheduled payments" asp-for="@numberOfScheduledPayments" />

                @if(numberOfScheduledPayments > 0)
                {
                    <govuk-summary-item label="Number of sent payments" asp-for="@numberOfSentPayments" />
                    <govuk-summary-item label="Next payment due date" asp-for="@nextPaymentDate" />
                    <govuk-summary-item label="Next due amount" asp-for="@nextPaymentAmount" />
                    <govuk-summary-item label="Amount sent" asp-for="@amountSent"/>
                }
            </govuk-summary-list>
        </govuk-summary-card>
        <govuk-summary-card id="grant-letters" label="Grant letters" href="@editTrustLetterLink">
            <govuk-summary-list>
@*                 <govuk-summary-item label="Date when DfE signed the initial grant letter" />
                <govuk-summary-item label="Saved the signed initial grant letter in Workplaces folder" />
                <govuk-summary-item label="Date when DfE signed the full grant letter" />
                <govuk-summary-item label="Saved the signed full grant letter in Workplaces folder" />
                <govuk-summary-item label="Due date of variation letter 1" />
                <govuk-summary-item label="Saved variation letter 1 in Workplaces folder" />  *@
            </govuk-summary-list>
        </govuk-summary-card>
        <govuk-summary-card id="stop-payments" label="Stop payments" href="@editStopPaymentLink">
            <govuk-summary-list>
                <govuk-summary-item label="Are you sure you want to stop payments?" asp-for="@pdgTask.PaymentStopped" />
                @if (pdgTask.PaymentStopped == "Yes")
                {
                    <govuk-summary-item label="Date when payments should stop" asp-for="@pdgTask.PaymentStoppedDate" />
                }
            </govuk-summary-list>
        </govuk-summary-card>
        <govuk-summary-card id="refunds" label="Refunds" href="@editRefundsLink">
            <govuk-summary-list>
                <govuk-summary-item label="Latest refund date" asp-for="@pdgTask.LatestRefundDate" />
                <govuk-summary-item label="Total amount" asp-for="@pdgTask.RefundsTotalAmount" />
            </govuk-summary-list>
        </govuk-summary-card>
        <govuk-summary-card id="write-off" label="Write-off" href="@editWriteOffLink">
            <govuk-summary-list>
                <govuk-summary-item label="Is there any write-off?" asp-for="@pdgTask.IsWriteOffSetup" />
                @if (pdgTask.IsWriteOffSetup == true)
                {
                    <govuk-summary-item label="Write-off reason" asp-for="@pdgTask.WriteOffReason" />
                    <govuk-summary-item label="Write-off amount" asp-for="@pdgTask.WriteOffAmount" />
                    <govuk-summary-item label="Write-off date" asp-for="@pdgTask.WriteOffDate" />
                    <govuk-summary-item label="Finance business partner approval received from" asp-for="@pdgTask.FinanceBusinessPartnerApprovalReceivedFrom" />
                    <govuk-summary-item label="Approval date" asp-for="@pdgTask.ApprovalDate" />
                }
            </govuk-summary-list>
        </govuk-summary-card>

        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />
            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>
    </div>
</div>