@page "/projects/{projectId}/tasks/ofsted-pre-registration/edit-after-inspection"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Common
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.OfstedPreRegistration.EditOfstedPreRegistrationAfterTaskModel
@{
    ViewData["Title"] = $"Edit After the inspection - Ofsted pre-registration - {Model.SchoolName}";
    var backlink = string.Format(RouteConstants.ViewOfstedPreRegistrationTask, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary"/>

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
    Edit After the inspection - Ofsted pre-registration
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="govuk-form-group" method="post">
            <govuk-checkbox-input label="Shared the outcome with the trust"
                                  asp-for="@Model.SharedOutcomeWithTrust"
                                  name="shared-outcome-with-trust"
                                  id="shared-outcome-with-trust"
                                  add-margin="false"/>

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Any actions to meet conditions have been completed
            </legend>
            <govuk-radios-list>

                <govuk-radios-list-item id="inspection-conditions-met-yes"
                                        name="inspection-conditions-met"
                                        value="@YesNoNotApplicable.Yes"
                                        description="Yes"
                                        asp-for="@Model.InspectionConditionsMet"/>

                <govuk-radios-list-item id="inspection-conditions-met-no"
                                        name="inspection-conditions-met"
                                        value="@YesNoNotApplicable.No"
                                        description="No"
                                        asp-for="@Model.InspectionConditionsMet"/>


                <govuk-radios-list-item id="inspection-conditions-met-not-applicable"
                                        name="inspection-conditions-met"
                                        value="@YesNoNotApplicable.NotApplicable"
                                        description="Not applicable"
                                        asp-for="@Model.InspectionConditionsMet"/>
            </govuk-radios-list>
            <br/>
            <br/>

            <govuk-date-input 
                id="date-inspection-and-any-actions-completed" 
                name="date-inspection-and-any-actions-completed" 
                asp-for="@Model.DateInspectionsAndAnyActionsCompleted" 
                data-testid="date-inspection-and-any-actions-completed"
                label="Date that inspection and any actions were completed" />

            <govuk-checkbox-input label="Requested that the school is changed to 'proposed to open' on GIAS"
                                  asp-for="@Model.ProposedToOpenOnGias"
                                  name="proposed-to-open-on-gias"
                                  id="proposed-to-open-on-gias"
                                  add-margin="false"/>

            <govuk-checkbox-input label="Saved inspection documents and G6 agreement in Workplaces folder"
                                  asp-for="@Model.SavedToWorkplaces"
                                  name="saved-to-workplaces"
                                  id="saved-to-workplaces"
                                  add-margin="false"/>
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
    </div>
</div>