@page "/projects/{projectId}/tasks/construction/edit"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.Construction.EditPropertyTaskModel
@{
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">St George's Primary School</span>
            Edit construction
        </h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form method="post">

                    <govuk-text-input id="name-of-site" name="name-of-site" asp-for="@Model.NameOfSite" data-testid="name-of-site" label="Name of site" />
                    <govuk-text-input id="address-of-site" name="address-of-site" asp-for="@Model.AddressOfSite" data-testid="address-of-site" label="Address of site" />
                    <govuk-text-input id="postcode-of-site" name="postcode-of-site" asp-for="@Model.PostcodeOfSite" data-testid="postcode-of-site" label="Postcode of site" />
                    <govuk-text-input id="building-type" name="building-type" asp-for="@Model.BuildingType" data-testid="building-type" label="Building type" />
                    <govuk-text-input id="trust-ref" name="trust-ref" asp-for="@Model.TrustRef" data-testid="trust-ref" label="Trust ref" />
                    <govuk-text-input id="trust-lead-sponsor" name="trust-lead-sponsor" asp-for="@Model.TrustLeadSponsor" data-testid="trust-lead-sponsor" label="Trust lead sponsor" />
                    <govuk-text-input id="trust-name" name="trust-name" asp-for="@Model.TrustName" data-testid="trust-name" label="Trust name" />
                    <govuk-text-input id="site-min-area" name="site-min-area" asp-for="@Model.SiteMinArea" data-testid="site-min-area" label="Site min area" />
                    <govuk-text-input id="type-of-works-location" name="type-of-works-location" asp-for="@Model.TypeOfWorksLocation" data-testid="type-of-works-location" label="Type of works location" />

                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>