@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@using NetEscapades.AspNetCore.SecurityHeaders;
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Dashboard.DashboardModel;

@{
    var regions = Enum.GetValues(typeof(ProjectRegion));
    var regionLabels = new List<string>();

    foreach (var region in regions)
    {
        regionLabels.Add(region.ToDescription());
    }

    var createProjectLink = RouteConstants.CreateProjectMethod;
}

@if (Model.UserCanCreateProject)
{
    <p class="govuk-body govuk-!-margin-top-3">You can add new projects by using the button below.</p>
    <a href=@createProjectLink role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-6" data-module="govuk-button">
        Create new projects
    </a>
}
<details class="govuk-details mfsp-project-listing__filters-container" data-module="govuk-details" open="">

    <summary class="govuk-details__summary mfsp-project-listing__fitlers-details-summary">
        <span class="govuk-details__summary-text govuk-button govuk-button--secondary mfsp-project-listing__button--main">
            Filter projects
        </span>
    </summary>
    <div class="govuk-details__text mfsp-project-listing__filters-details">
        <form method="post" class="form">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <div class="govuk-form-group">
                        <h2 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="search-by-project">
                                Project title or ID
                            </label>
                        </h2>
                        <div id="dashboardSearch-hint" class="govuk-hint">
                            For example, St George’s Primary School or 193323.
                        </div>
                        <input class="govuk-input" id="search-by-project" name="search-by-project" type="text" value="@Model.ProjectSearchTerm" data-testid="search-by-project">
                    </div>
                </div>

                <div class="govuk-grid-column-one-quarter">
                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset" aria-describedby="filter-regions-hint">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                                Regions

                            </legend>

                            <div id="filter-regions-hint" class="govuk-hint">
                                Select all that apply.
                            </div>

                            <div id="search-by-region-container" class="govuk-checkboxes govuk-checkboxes--small mfsp-project-listing__filter" data-module="govuk-checkboxes">

                                @foreach (var region in regionLabels)
                                {
                                    var checkedStatus = Model.RegionSearchTerm.Contains(region) ? "checked" : "";

                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="@region" data-testid="@region-option" name="search-by-region" type="checkbox" value="@region" @checkedStatus>
                                        <label class="govuk-label govuk-checkboxes__label" for="@region">
                                            @region
                                        </label>

                                    </div>
                                }

                            </div>

                        </fieldset>
                    </div>
                </div>
                <div class="govuk-grid-column-one-quarter">

                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset" aria-describedby="filter-la-hint">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                                Local Authority

                            </legend>

                            <div id="filter-la-hint" class="govuk-hint">
                                Select all that apply.
                            </div>

                            <div id="la-checkbox-container" class="govuk-checkboxes govuk-checkboxes--small mfsp-project-listing__filter" data-module="govuk-checkboxes"><div class="govuk-checkboxes__divider govuk-!-font-weight-bold">Please select a region</div></div>
                        </fieldset>
                    </div>

                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-button-group">
                        <button class="govuk-button govuk-button--secondary mfsp-project-listing__button--apply" data-module="govuk-button" asp-page-handler="search" data-testid="apply-filters">
                            Apply filters
                        </button>

                        <a class="govuk-link" asp-page-handler="clearFilters">Clear filters</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</details>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">@Model.Header</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row tr__large">
            <th class="govuk-table__header govuk-table__cell__cases" scope="col">
                Project title
            </th>
            <th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_14" scope="col" aria-sort="none">
                Project ID
            </th>
            <th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_14" scope="col" aria-sort="none">
                Trust
            </th>
            <th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_14" scope="col" aria-sort="none">
                Region
            </th>
            <th class="govuk-table__header govuk-table__cell__cases" scope="col">
                Local authority
            </th>
            <th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_14" scope="col" aria-sort="none">
                Realistic opening date
            </th>
            <th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_14" scope="col" aria-sort="none">
                Status
            </th>
            <th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_14" scope="col" aria-sort="none">
                Action
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @if (Model.Projects == null || Model.Projects.Count == 0)
        {
            <tr class="govuk-table__row tr__large">
                <td class="govuk-table__cell__cases govuk-oneline-row">
                    <span>There are no projects available.</span>
                </td>
            </tr>
        }
        else
        {
            foreach (var project in Model.Projects)
            {
                <tr class="govuk-table__row tr__large" data-testid="row-@project.ProjectId">
                    <td class="govuk-table__cell" data-testid="project-title">
                        @project.ProjectTitle
                    </td>
                    <td class="govuk-table__cell" data-testid="project-id">
                        @project.ProjectId
                    </td>
                    <td class="govuk-table__cell" data-testid="trust-name">
                        @project.TrustName
                    </td>
                    <td class="govuk-table__cell" data-testid="region-name">
                        @project.Region
                    </td>
                    <td class="govuk-table__cell" data-testid="local-authority">
                        @project.LocalAuthority
                    </td>
                    <td class="govuk-table__cell" data-testid="realistic-opening-date">
                        @project.RealisticOpeningDate
                    </td>
                    <td class="govuk-table__cell" data-testid="status">
                        <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    </td>
                    <td class="govuk-table__cell">
                        <a href="/projects/@project.ProjectId/overview" data-testid="action">View</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<partial name="./Pagination/_Pagination" model="Model.Pagination" />

<script type="application/javascript" asp-add-nonce>
    $(function () {
        const regionCheckboxes = getRegionCheckboxes();

        getLocalAuthoritiesByRegion();

        regionCheckboxes.each(function() {

            $(this).click(function(e) {
                getLocalAuthoritiesByRegion();
            });
        });
    });

    function getRegionCheckboxes() {
        const regionCheckboxContainer = $('#search-by-region-container');
        const result = regionCheckboxContainer.find('.govuk-checkboxes__input');

        return result;
    }

    function updateLocalAuthorityHtml(checkboxHtml) {
        $('#la-checkbox-container').html(checkboxHtml);
    }

    function getLocalAuthoritiesByRegion() {
        const regionCheckboxes = getRegionCheckboxes();

        const selectedRegions = regionCheckboxes.filter(':checked').map(function() {
                    return $(this).val();
                }).get().join();

        $.ajax({
            type: "GET",
            url: "?handler=localAuthoritiesByRegion",
            data: { regions: selectedRegions },
            success: function (data) {

                let checkboxHtml = '<div class="govuk-checkboxes__divider govuk-!-font-weight-bold">Please select a region</div>';

                console.log(data);

                if (data.length > 0) {

                    const existingCheckedLas = $('#la-checkbox-container').find('.govuk-checkboxes__input:checked').map(function() {
                        return $(this).val();
                    }).get();

                    

                    checkboxHtml = $.map(data, function (region) {
                        
                        return `<div class="govuk-checkboxes__divider govuk-!-font-weight-bold">${region.regionName}</div>` +
                        $.map(region.localAuthorities, function (localAuthority) {
                            const laIsChecked = existingCheckedLas.includes(localAuthority.name) ? 'checked' : '';

                            return `
                                <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="${localAuthority.name}" data-testid="${localAuthority.name}-option" name="search-by-local-authority" type="checkbox" value="${localAuthority.name}" ${laIsChecked}>
                                <label class="govuk-label govuk-checkboxes__label" for="${localAuthority.name}">${localAuthority.name}</label>
                                </div>
                            `
                            }).join('');
                    });
                }

                updateLocalAuthorityHtml(checkboxHtml);
            },
            error: function (data) {
                let checkboxHtml = '<div class="govuk-checkboxes__divider govuk-!-font-weight-bold">Something went wrong retrieving the local authorities</div>';
                updateLocalAuthorityHtml(checkboxHtml);

                console.log(data);
            }
        });
    }

</script>