@page "/projects/{projectId}/tasks/governance-plan/central/edit"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.GovernancePlan.Central.EditGovernancePlanModel
@{
    ViewData["Title"] = $"Edit Governance plan - {Model.SchoolName}";

    var backlink = string.Format(RouteConstants.ViewGovernancePlanCentralTask, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary" />

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
    Edit Governance plan
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">

            <div class="govuk-form-group ">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input"
                               id="plan-received-from-trust"
                               name="plan-received-from-trust"
                               type="checkbox"
                               value="true"
                               checked="@(Model.PlanReceivedFromTrust == true ? "checked" : null)"
                               data-aria-controls="conditional-date-received">
                        <label class="govuk-label govuk-checkboxes__label" for="plan-received-from-trust">
                            Received draft governance plan from trust
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional" id="conditional-date-received">
                        <govuk-date-input id="date-plan-received" name="date-plan-received" asp-for="@Model.DatePlanReceived" label="Date received" hint="For example, 27 3 2021" />
                    </div>
                </div>
            </div>

            <govuk-checkbox-input label="Assessed plan using assessment template"
                                  asp-for="@Model.PlanAssessedUsingTemplate"
                                  name="plan-assessed-using-template"
                                  id="plan-assessed-using-template"
                                  add-margin=false />

            <govuk-checkbox-input label="Shared plan and assessment with external expert"
                                  asp-for="@Model.PlanAndAssessmentSharedWithExpert"
                                  name="plan-and-assessment-shared-with-expert"
                                  id="plan-and-assessment-shared-with-expert"
                                  add-margin=false />

            <govuk-checkbox-input label="Shared plan and assessment with ESFA (Education and Skills Funding Agency) - if applicable"
                                  asp-for="@Model.PlanAndAssessmentSharedWithEsfa"
                                  name="plan-and-assessment-shared-with-esfa"
                                  id="plan-and-assessment-shared-with-esfa"
                                  add-margin=false />

            <govuk-checkbox-input label="Fed back to trust on plan"
                                  asp-for="@Model.PlanFedBackToTrust"
                                  name="plan-fed-back-to-trust"
                                  id="plan-fed-back-to-trust"
                                  add-margin=false />

            <div class="govuk-form-group ">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input"
                               id="final-governance-plan-agreed"
                               name="final-governance-plan-agreed"
                               type="checkbox"
                               value="true"
                               checked="@(Model.FinalGovernancePlanAgreed == true ? "checked" : (Model.DatePlanAgreed is not null ? true : null))"
                               data-aria-controls="conditional-date-agreed">
                        <label class="govuk-label govuk-checkboxes__label" for="final-governance-plan-agreed">
                           Final governance plan agreed
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional" id="conditional-date-agreed">
                        <govuk-date-input id="date-plan-agreed" name="date-plan-agreed" asp-for="@Model.DatePlanAgreed" label="Date agreed" hint="For example, 27 3 2021" />
                    </div>
                </div>
            </div>

            <govuk-checkbox-input label="Saved final governance plan in Workplaces folder"
                                  asp-for="@Model.SavedDocumentsInWorkplacesFolder"
                                  name="saved-documents-in-workplaces-folder"
                                  id="saved-documents-in-workplaces-folder"
                                  add-margin=false />


            <govuk-textarea-input id="comments" name="comments" bold-label="true" label="Comments" rows="5" asp-for="@Model.Comments" add-margin="true" />

            @Html.HiddenFor(m => m.SchoolName)

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>

    </div>
</div>
