@page "/projects/{projectId}/tasks/governance-plan/central"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.GovernancePlan.Central.ViewGovernancePlanModel
@{
    ViewData["Title"] = $" Governance plan - {Model.Project.SchoolName}";

    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editlink = string.Format(RouteConstants.EditGovernancePlanCentralTask, Model.ProjectId);
    var GovernancePlan = Model.Project.GovernancePlan;
    var riskRatingLink = string.Format(RouteConstants.ProjectRiskSummary, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
             Governance plan
        </h1>
        <div class="govuk-inset-text">
            You only need to do this task if the project's overall and governance <a class="govuk-link" href="@riskRatingLink">risk ratings</a> are red or amber red.
        </div>
        <govuk-summary-list>
            <govuk-summary-item label="Received  governance plan from trust" asp-for="@GovernancePlan.PlanReceivedFromTrust" href="@editlink" />
            @if (GovernancePlan.PlanReceivedFromTrust == true)
            {
                <govuk-summary-item label="Date received" asp-for="@GovernancePlan.DatePlanReceived" href="@editlink" />
            }
            <govuk-summary-item label="Assessed plan using assessment template" asp-for="@GovernancePlan.PlanAssessedUsingTemplate" href="@editlink" />
            <govuk-summary-item label="Shared plan and assessment with external expert" asp-for="@GovernancePlan.PlanAndAssessmentSharedWithExpert" href="@editlink" />
            <govuk-summary-item label="Shared plan and assessment with ESFA (Education and Skills Funding Agency)" asp-for="@GovernancePlan.PlanAndAssessmentSharedWithEsfa" href="@editlink" />
            <govuk-summary-item label="Fed back to trust on plan" asp-for="@GovernancePlan.PlanFedBackToTrust" href="@editlink" />
            <govuk-summary-item label="Final governance plan agreed" asp-for="@GovernancePlan.FinalGovernancePlanAgreed" href="@editlink" />
            @if (GovernancePlan.DatePlanAgreed is not null)
            {
                <govuk-summary-item label="Date agreed" asp-for="@GovernancePlan.DatePlanAgreed" href="@editlink" />
            }
            <govuk-summary-item label="Saved final governance plan in Workplaces folder" asp-for="@GovernancePlan.SavedDocumentsInWorkplacesFolder" href="@editlink" />
            <govuk-summary-item label="Comments" asp-for="@GovernancePlan.Comments" href="@editlink" />
        </govuk-summary-list>
        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />
            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>

        <div class="govuk-grid-row govuk-!-margin-top-6">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l" data-testid="title">Review risk rating</h2>
                <p class="govuk-body">You may want to update the risk rating after assessing the trust's governance plan.</p>
                <govuk-risk-rating-summary 
                    project-id="@Model.ProjectId" 
                    change-link-text="Change"
                    date="@Model.ProjectRisk.Date"
                    risk-rating="@Model.ProjectRisk.Overall.RiskRating"
                    summary="@Model.ProjectRisk.Overall.Summary" />
            </div>
        </div>

    </div>
</div>