@page "/projects/{projectId}/tasks/region-and-localauthority"
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.RegionAndLA.ViewRegionAndLocalAuthority
@{
    var editlink = string.Format(RouteConstants.EditRegion, Model.ProjectId);
    ViewData["Title"] = $"Region and local authority - {Model.Project.SchoolName}";
    var backlink = $"/projects/{Model.ProjectId}/tasks";

    var regionAndLocalAuthorityTask = Model.Project.RegionAndLocalAuthority;
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Region and local authority
        </h1>
        <govuk-summary-list>
            <govuk-summary-item label="Region" asp-for="@regionAndLocalAuthorityTask.Region" href="@editlink" />
            <govuk-summary-item label="Local authority" asp-for="@regionAndLocalAuthorityTask.LocalAuthority" href="@editlink" />
        </govuk-summary-list>

        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />

            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>

    </div>
</div>