@page "/projects/{projectId}/tasks/school/edit"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Task.School.EditSchoolTaskModel
@{
    var schoolTypes = Enum.GetValues(typeof(SchoolType));
    var schoolTypeLabels = new List<string>();
    var schoolTypeValues = new List<string>();

    foreach (var schoolType in schoolTypes)
    {
        schoolTypeLabels.Add(schoolType.ToDescription());
        schoolTypeValues.Add(schoolType.ToString());
    }

    var schoolPhases = Enum.GetValues(typeof(SchoolPhase));
    var schoolPhaseLabels = new List<string>();
    var schoolPhaseValues = new List<string>();

    foreach (var schoolPhase in schoolPhases)
    {
        schoolPhaseLabels.Add(schoolPhase.ToDescription());
        schoolPhaseValues.Add(schoolPhase.ToString());
    }

    var faithStatuses = Enum.GetValues<FaithStatus>();
    var faithStatusLabels = new List<string>();
    var faithStatusValues = new List<string>();

    foreach (var faithStatus in faithStatuses)
    {
        faithStatusLabels.Add(faithStatus.ToDescription());
        faithStatusValues.Add(faithStatus.ToString());
    }

    var nurseryOptions = new[] { "Yes", "No" };
    var sixthFormOptions = new[] { "Yes", "No" };

    var genderOptions = new[] { "Boys Only", "Girls Only", "Mixed" };
    var faithTypes = new[] { "Boys Only", "Girls Only", "Mixed" };

}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">St George's Primary School</span>
            Edit school
        </h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form method="post">
                    <govuk-text-input id="current-free-school-name" name="current-free-school-name" asp-for="@Model.CurrentFreeSchoolName" data-testid="current-free-school-name" label="Current free school name"/>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="school-type">School Type</label>
                        <govuk-radios-input id="school-type"
                                            name="school-type"
                                            asp-for="@Model.SchoolType"
                                            data-testid="school-type"
                                            labels="@schoolTypeLabels.ToArray()"
                                            values="@schoolTypeValues.ToArray()"/>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="school-phase">School Phase</label>
                        <govuk-radios-input id="school-phase"
                                            name="school-phase"
                                            asp-for="@Model.SchoolPhase"
                                            data-testid="school-phase"
                                            labels="@schoolPhaseLabels.ToArray()"
                                            values="@schoolPhaseValues.ToArray()"/>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="age-range-from">Age Range</label>
                        <input class="govuk-input govuk-input--width-2" asp-for="@Model.AgeRangeFrom" id="age-range-from" name="age-range-from" type="text">
                        <input class="govuk-input govuk-input--width-2" asp-for="@Model.AgeRangeTo" id="age-range-to" name="age-range-to" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="gender">Gender</label>
                        <govuk-radios-input id="gender"
                                            name="gender"
                                            data-testid="gender"
                                            asp-for="@Model.Gender"
                                            labels="@genderOptions"
                                            values="@genderOptions"/>
                    </div>


                    <div class="govuk-form-group">
                        <label class="govuk-label" for="nursery">Nursery</label>
                        <govuk-radios-input id="nursery"
                                            name="nursery"
                                            asp-for="@Model.Nursery"
                                            data-testid="nursery"
                                            labels="@nurseryOptions"
                                            values="@nurseryOptions"/>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="school-type">Sixth Form</label>
                        <govuk-radios-input id="sixth-form"
                                            name="sixth-form"
                                            asp-for="@Model.SixthForm"
                                            data-testid="sixth-form"
                                            labels="@nurseryOptions"
                                            values="@nurseryOptions"/>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="faith-status">Faith Status</label>
                        <govuk-radios-input id="faith-status"
                                            name="faith-status"
                                            asp-for="ProjectId"
                                            data-testid="faith-status"
                                            labels="@faithStatusLabels.ToArray()"
                                            values="@faithStatusValues.ToArray()"/>
                    </div>

                    @* Only allowed if Faith Status is NOT None. Maybe conditionally render it?*@
                    @* <div class="govuk-form-group"> *@
                    @*     <label class="govuk-label" for="faith-type">Faith Type</label> *@
                    @*     <govuk-radios-input id="faith-type" *@
                    @*                         name="faith-type" *@
                    @*                         asp-for="ProjectId" *@
                    @*                         data-testid="faith-type" *@
                    @*                         labels="@faithStatues" *@
                    @*                         values="@faithStatues"/> *@
                    @* </div> *@

                    @* Only allowed if Faith Type set to Other. Maybe conditionally render?*@
                    <govuk-text-input width="10" id="other-faith-type" name="other-faith-type" asp-for="@Model.ProposedChairOfTrustees" data-testid="other-faith-type" label="Other Faith Type"/>

                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>