@page "/projects/{projectId}/tasks/school/edit"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@using AngleSharp.Common
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Task.School.EditSchoolTaskModel
@{
    var schoolTypes = Enum.GetValues<SchoolType>().Except(new [] { SchoolType.NotSet });
    var schoolTypeLabels = schoolTypes.Select(x => x.ToDescription()).ToArray();
    var schoolTypeValues = schoolTypes.Select(x => x.ToString()).ToArray();

    var schoolPhases = Enum.GetValues<SchoolPhase>().Except(new [] { SchoolPhase.NotSet });
    var schoolPhaseLabels = schoolPhases.Select(x => x.ToDescription()).ToArray();
    var schoolPhaseValues = schoolPhases.Select(x => x.ToString()).ToArray();

    var faithStatuses = Enum.GetValues<FaithStatus>().Except(new []{ FaithStatus.NotSet}).Select(x => x.ToString()).ToArray();

    var nurseryOptions = new[] { "No", "Yes" }; 
    var sixthFormOptions = new[] { "No", "Yes" }; 

    var genders = Enum.GetValues<Gender>().Except(new [] { Gender.NotSet });
    var genderLabels = genders.Select(x => x.ToDescription()).ToArray();
    var genderValues = genders.Select(x => x.ToString()).ToArray();

    var faiths = Enum.GetValues<FaithType>().Except(new [] { FaithType.NotSet });
    var faithTypeLabels = faiths.Select(x => x.ToDescription()).ToArray();
    var faithTypeValues = faiths.Select(x => x.ToString()).ToArray();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.CurrentFreeSchoolName</span>
            Edit school
        </h1>

        <div class="govuk-grid-row">
            <form method="post">
                <govuk-text-input id="current-free-school-name" name="current-free-school-name" asp-for="@Model.CurrentFreeSchoolName" data-testid="current-free-school-name" label="Current free school name"/>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="school-type">School Type</label>
                    <govuk-radios-input id="school-type"
                                        name="school-type"
                                        asp-for="@Model.SchoolType"
                                        data-testid="school-type"
                                        labels="@schoolTypeLabels"
                                        values="@schoolTypeValues"/>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="school-phase">School Phase</label>
                    <govuk-radios-input id="school-phase"
                                        name="school-phase"
                                        asp-for="@Model.SchoolPhase"
                                        data-testid="school-phase"
                                        labels="@schoolPhaseLabels"
                                        values="@schoolPhaseValues"/>
                </div>

                <div class="govuk-form-group" id="age-range">
                    <label class="govuk-label" for="age-range">Age Range</label>
                    <govuk-text-input width="2" id="age-range-from" name="age-range-from" asp-for="@Model.AgeRangeFrom" type="text" label="From" />
                    <govuk-text-input width="2" id="age-range-to" name="age-range-to" asp-for="@Model.AgeRangeTo" type="text" label="To"/>
                    
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="gender">Gender</label>
                    <govuk-radios-input id="gender"
                                        name="gender"
                                        data-testid="gender"
                                        asp-for="@Model.Gender"
                                        labels="@genderLabels"
                                        values="@genderValues"/>
                </div>


                <div class="govuk-form-group">
                    <label class="govuk-label" for="nursery">Nursery</label>
                    <govuk-radios-input id="nursery"
                                        name="nursery"
                                        asp-for="@Model.Nursery"
                                        data-testid="nursery"
                                        labels="@nurseryOptions"
                                        values="@nurseryOptions"/>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="school-type">Sixth Form</label>
                    <govuk-radios-input id="sixth-form"
                                        name="sixth-form"
                                        asp-for="@Model.SixthForm"
                                        data-testid="sixth-form"
                                        labels="@sixthFormOptions"
                                        values="@sixthFormOptions"/>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="faith-status">Faith Status</label>
                    <govuk-radios-input id="faith-status"
                                        name="faith-status"
                                        asp-for="@Model.FaithStatus"
                                        data-testid="faith-status"
                                        labels="@faithStatuses"
                                        values="@faithStatuses"/>
                </div>

                @if (Model.DisplayFaithType)
                {
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="faith-type">Faith Type</label>
                        <govuk-radios-input class="govuk-radios__conditional--hidden" id="faith-type"
                                            name="faith-type"
                                            asp-for="@Model.FaithType"
                                            data-testid="faith-type"
                                            labels="@faithTypeLabels"
                                            values="@faithTypeValues"/>
                    </div>
                }

                @if (@Model.DisplayOtherFaithType)
                {
                    <govuk-text-input width="10" id="other-faith-type" name="other-faith-type" asp-for="@Model.OtherFaithType" data-testid="other-faith-type" label="Other Faith Type"/>
                }
                
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </form>

        </div>
    </div>
</div>