@page "/projects/{projectId}/tasks/school/edit"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@using Dfe.ManageFreeSchoolProjects.Pages.Project;
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.School.EditSchoolTaskModel
@{
    ViewData["Title"] = $"Edit School - {Model.CurrentFreeSchoolName}";

    var schoolTypeLabels = Model.SchoolTypes.Select(x => x.ToDescription()).ToArray();
    var schoolTypeValues = Model.SchoolTypes.Select(x => x.ToString()).ToArray();

    var schoolPhases = Enum.GetValues<SchoolPhase>().Except(new[] { SchoolPhase.NotSet });
    var schoolPhaseLabels = schoolPhases.Select(x => x.ToDescription()).ToArray();
    var schoolPhaseValues = schoolPhases.Select(x => x.ToString()).ToArray();

    var faithStatuses = Enum.GetValues<FaithStatus>().Except(new[] { FaithStatus.NotSet }).Select(x => x.ToString()).ToArray();

    var nurseryOptions = new[] { "No", "Yes" };
    var nurseryTestIds = nurseryOptions.Select(x => $"nursery-{x}").ToArray();
    var sixthFormOptions = new[] { "No", "Yes" };
    var sixthFormTestIds = sixthFormOptions.Select(x => $"sixth-form-{x}").ToArray();
    var alternativeProvisionOptions = new[] { "No", "Yes" };
    var alternativeProvisionTestIds = alternativeProvisionOptions.Select(x => $"alternative-provision-{x}").ToArray();
    var specialEducationNeedsOptions = new[] { "No", "Yes" };
    var specialEducationNeedsTestIds = specialEducationNeedsOptions.Select(x => $"special-education-needs-{x}").ToArray();

    var genders = Enum.GetValues<Gender>().Except(new[] { Gender.NotSet });
    var genderLabels = genders.Select(x => x.ToDescription()).ToArray();
    var genderValues = genders.Select(x => x.ToString()).ToArray();

    var faiths = Enum.GetValues<FaithType>().Except(new[] { FaithType.NotSet });
    var faithTypeLabels = faiths.Select(x => x.ToDescription()).ToArray();
    var faithTypeValues = faiths.Select(x => x.ToString()).ToArray();
    var faithTypeTestIds = faiths.Select(x => $"faith-type-{x}").ToArray();

    var backlink = $"/projects/{Model.ProjectId}/tasks/school";
}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">@Model.CurrentFreeSchoolName</span>
            Edit school
        </h1>


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                <partial name="_ErrorSummary" />

                <form method="post">

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-heading-m" for="current-free-school-name">Current free school name</label>
                        <govuk-text-input id="current-free-school-name" name="current-free-school-name" asp-for="@Model.CurrentFreeSchoolName" data-testid="current-free-school-name" />
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-heading-m" for="school-type">School type</label>
                        <govuk-radios-input name="school-type"
                                            asp-for="@Model.SchoolType"
                                            data-testid="school-type"
                                            labels="@schoolTypeLabels"
                                            values="@schoolTypeValues" />
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-heading-m" for="school-phase">School phase</label>
                        <govuk-radios-input name="school-phase"
                                            asp-for="@Model.SchoolPhase"
                                            data-testid="school-phase"
                                            labels="@schoolPhaseLabels"
                                            values="@schoolPhaseValues" />
                    </div>

                    <govuk-number-range id="age-range" asp-for="@Model.AgeRange" label="Age range" heading-medium-label="true" />

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-heading-m" for="forms-of-entry">Forms of entry</label>
                        <govuk-text-input width="10" id="forms-of-entry" name="forms-of-entry" asp-for="@Model.FormsOfEntry" data-testid="forms-of-entry" />
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-heading-m" for="gender">Gender</label>
                        <govuk-radios-input name="gender"
                                            data-testid="gender"
                                            asp-for="@Model.Gender"
                                            labels="@genderLabels"
                                            values="@genderValues" />
                    </div>


                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-heading-m" for="nursery">Nursery</label>
                        <govuk-radios-input name="nursery"
                                            asp-for="@Model.Nursery"
                                            data-testid="nursery"
                                            labels="@nurseryOptions"
                                            values="@nurseryOptions"
                                            test-ids="@nurseryTestIds" />
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-heading-m" for="school-type">Sixth form</label>
                        <govuk-radios-input name="sixth-form"
                                            asp-for="@Model.SixthForm"
                                            data-testid="sixth-form"
                                            labels="@sixthFormOptions"
                                            values="@sixthFormOptions"
                                            test-ids="@sixthFormTestIds" />
                    </div>

                    <div class="govuk-form-group" id="alternative-provision-container">
                        <label class="govuk-label govuk-heading-m" for="alternative-provision">Alternative provision</label>
                        <govuk-radios-input name="alternative-provision"
                        asp-for="@Model.AlternativeProvision"
                        data-testid="alternative-provision"
                        labels="@alternativeProvisionOptions"
                        values="@alternativeProvisionOptions"
                        test-ids="@alternativeProvisionTestIds" />
                    </div>

                    <div class="govuk-form-group" id="special-education-needs-container">
                        <label class="govuk-label govuk-heading-m" for="school-type">Special educational needs</label>
                        <govuk-radios-input name="special-education-needs"
                        asp-for="@Model.SpecialEducationNeeds"
                        data-testid="special-education-needs"
                        labels="@specialEducationNeedsOptions"
                        values="@specialEducationNeedsOptions"
                        test-ids="@specialEducationNeedsTestIds" />
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-heading-m" for="faith-status">Faith status</label>
                        <govuk-radios-input name="faith-status"
                                            asp-for="@Model.FaithStatus"
                                            data-testid="faith-status"
                                            labels="@faithStatuses"
                                            values="@faithStatuses" />
                    </div>

                    <div class="govuk-form-group" id="faith-type-group">
                        <label class="govuk-label govuk-heading-m" for="faith-type">Faith type</label>
                        <govuk-radios-input name="faith-type"
                                            asp-for="@Model.FaithType"
                                            data-testid="faith-type"
                                            labels="@faithTypeLabels"
                                            values="@faithTypeValues"
                                            test-ids="@faithTypeTestIds"/>
                    </div>

                    <govuk-text-input width="10" id="other-faith-type" name="other-faith-type" asp-for="@Model.OtherFaithType" data-testid="other-faith-type" label="Other faith type" />

                    <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                        Save and continue
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript" asp-add-nonce>
    const setFaithVisibility = () =>
    {

        const faithStatus = $("input[type='radio']:checked[name='faith-status']").val();
        if(faithStatus === 'None' || faithStatus == null)
        {
             if(faithStatus === 'None')
            {
                 $("input[type='radio'][name='faith-type'][value='None']").prop("checked", true);
            }

            $('#faith-type-group').hide();
            $('#other-faith-type').parent().hide();

           
        }
        else
        {
            $('#faith-type-group').show();
            if($("input[type='radio']:checked[name='faith-type']").val() === 'Other')
            {
                $('#other-faith-type').parent().show();
            }
            else
            {
                $('#other-faith-type').parent().hide();
            }

        }

    }

    const setClassTypeVisibility = () =>
    {

        const schoolType = $("input[type='radio']:checked[name='school-type']").val();
        const schoolTypesWithSpecialistProvisions = ["Mainstream", "StudioSchool", "UniversityTechnicalCollege"];
        

        if (schoolTypesWithSpecialistProvisions.includes(schoolType))
        {
            $('#alternative-provision-container').show();
            $('#special-education-needs-container').show();
        }
        else
        {
            $('#alternative-provision-container').hide();
            $('#special-education-needs-container').hide();
        }
    }


    $(document).ready(() => {

        setFaithVisibility();
        setClassTypeVisibility();

        $("input[type='radio'][name='faith-status']").click((e) => {
            setFaithVisibility();
        });

        $("input[type='radio'][name='faith-type']").click((e) => {
            setFaithVisibility();
        });

         $("input[type='radio'][name='school-type']").click((e) => {
            setClassTypeVisibility();
        });
    });

</script>