@page "/projects/{projectId}/tasks/school/edit"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.School.EditSchoolTaskModel
@{
    ViewData["Title"] = $"Edit School - {Model.CurrentFreeSchoolName}";
    
    var schoolTypeLabels = Model.SchoolTypes.Select(x => x.ToDescription()).ToArray();
    var schoolTypeValues = Model.SchoolTypes.Select(x => x.ToString()).ToArray();

    var schoolPhases = Enum.GetValues<SchoolPhase>().Except(new[] { SchoolPhase.NotSet });
    var schoolPhaseLabels = schoolPhases.Select(x => x.ToDescription()).ToArray();
    var schoolPhaseValues = schoolPhases.Select(x => x.ToString()).ToArray();

    var faithStatuses = Enum.GetValues<FaithStatus>().Except(new[] { FaithStatus.NotSet }).Select(x => x.ToString()).ToArray();

    var nurseryOptions = new[] { "No", "Yes" };
    var sixthFormOptions = new[] { "No", "Yes" };

    var genders = Enum.GetValues<Gender>().Except(new[] { Gender.NotSet });
    var genderLabels = genders.Select(x => x.ToDescription()).ToArray();
    var genderValues = genders.Select(x => x.ToString()).ToArray();

    var faiths = Enum.GetValues<FaithType>().Except(new[] { FaithType.NotSet });
    var faithTypeLabels = faiths.Select(x => x.ToDescription()).ToArray();
    var faithTypeValues = faiths.Select(x => x.ToString()).ToArray();
}
<div class="govuk-grid-row">
    <a href="/projects/@Model.ProjectId/tasks/school" class="govuk-back-link">Back</a>

    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">@Model.CurrentFreeSchoolName</span>
            Edit school
        </h1>


        <div class="govuk-grid-row">
            <partial name="_ErrorSummary"/>

            <form method="post">

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-heading-m" for="current-free-school-name">Current free school name</label>
                    <govuk-text-input id="current-free-school-name" name="current-free-school-name" asp-for="@Model.CurrentFreeSchoolName" data-testid="current-free-school-name"/>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-heading-m" for="school-type">School type</label>
                    <govuk-radios-input
                        name="school-type"
                        asp-for="@Model.SchoolType"
                        data-testid="school-type"
                        labels="@schoolTypeLabels"
                        values="@schoolTypeValues"/>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-heading-m" for="school-phase">School phase</label>
                    <govuk-radios-input
                        name="school-phase"
                        asp-for="@Model.SchoolPhase"
                        data-testid="school-phase"
                        labels="@schoolPhaseLabels"
                        values="@schoolPhaseValues"/>
                </div>

                <govuk-number-range id="age-range" asp-for="@Model.AgeRange" label="Age range" heading-medium-label="true" />

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-heading-m" for="gender">Gender</label>
                    <govuk-radios-input
                        name="gender"
                        data-testid="gender"
                        asp-for="@Model.Gender"
                        labels="@genderLabels"
                        values="@genderValues"/>
                </div>


                <div class="govuk-form-group">
                    <label class="govuk-label govuk-heading-m" for="nursery">Nursery</label>
                    <govuk-radios-input
                        name="nursery"
                        asp-for="@Model.Nursery"
                        data-testid="nursery"
                        labels="@nurseryOptions"
                        values="@nurseryOptions"/>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-heading-m" for="school-type">Sixth form</label>
                    <govuk-radios-input
                        name="sixth-form"
                        asp-for="@Model.SixthForm"
                        data-testid="sixth-form"
                        labels="@sixthFormOptions"
                        values="@sixthFormOptions"/>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-heading-m" for="faith-status">Faith status</label>
                    <govuk-radios-input name="faith-status"
                                        asp-for="@Model.FaithStatus"
                                        data-testid="faith-status"
                                        labels="@faithStatuses"
                                        values="@faithStatuses" />
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-heading-m" for="faith-type">Faith type</label>
                    <govuk-radios-input name="faith-type"
                                        asp-for="@Model.FaithType"
                                        data-testid="faith-type"
                                        labels="@faithTypeLabels"
                                        values="@faithTypeValues" />
                </div>

                <govuk-text-input width="10" id="other-faith-type" name="other-faith-type" asp-for="@Model.OtherFaithType" data-testid="other-faith-type" label="Other faith type" />

                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </form>

        </div>
    </div>
</div>

<script type="application/javascript" asp-add-nonce>
    const setVisibility = () =>
    {
        const faithStatus = $("input[type='radio']:checked[name='faith-status']").val();
        if(faithStatus === 'None' || faithStatus == null)
        {
            $('#faith-type').hide();
            $('#other-faith-type').parent().hide();
        }
        else
        {
            $('#faith-type').show();
            if($("input[type='radio']:checked[name='faith-type']").val() === 'Other')
            {
                $('#other-faith-type').parent().show();
            }
            else
            {
                $('#other-faith-type').parent().hide();
            }

        }
    }


    $(document).ready(() => {
        setVisibility();

        $("input[type='radio'][name='faith-status']").click((e) => {
            setVisibility();
        });

        $("input[type='radio'][name='faith-type']").click((e) => {
            setVisibility();
        });
    });

</script>