@page "/projects/{projectId}/tasks/school"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@using Dfe.ManageFreeSchoolProjects.Pages.Project
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.School.ViewSchoolTask
@{
    var editLink = string.Format(RouteConstants.EditSchoolTask, Model.ProjectId);
    ViewData["Title"] = $"School - {Model.Project.School.CurrentFreeSchoolName}";

    var faithType = Model.Project.School.FaithType == FaithType.Other ? $"Other - {Model.Project.School.OtherFaithType}" : Model.Project.School.FaithType.ToDescription();
    var backlink = $"/projects/{Model.ProjectId}/tasks";

    var schoolTask = Model.Project.School;
}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">@schoolTask.CurrentFreeSchoolName</span>
            School
        </h1>
        <govuk-summary-list>
            <govuk-summary-item label="Current free school name" asp-for="@schoolTask.CurrentFreeSchoolName" href="@editLink" />
            <govuk-summary-item label="School type" asp-for="@schoolTask.SchoolType" href="@editLink" />
            <govuk-summary-item label="School phase" asp-for="@schoolTask.SchoolPhase" href="@editLink" />
            <govuk-summary-item label="Age range" asp-for="@schoolTask.AgeRange" href="@editLink" />
            <govuk-summary-item label="Forms of entry" asp-for="@schoolTask.FormsOfEntry" href="@editLink" />
            <govuk-summary-item label="Gender" asp-for="@schoolTask.Gender" href="@editLink" />
            <govuk-summary-item label="Nursery" asp-for="@schoolTask.Nursery" href="@editLink" />
            <govuk-summary-item label="Sixth form" asp-for="@schoolTask.SixthForm" href="@editLink" />
            <govuk-summary-item label="Residential or boarding" asp-for="@schoolTask.ResidentialOrBoarding" href="@editLink" />

            @{
                if (ProjectConstants.SchoolTypesWithSpecialistProvisions.Contains(schoolTask.SchoolType))
                {
                    <govuk-summary-item label="Alternative provision (specialist resource provision)" asp-for="@schoolTask.AlternativeProvision" href="@editLink" />
                    <govuk-summary-item label="Special educational needs (specialist resource provision)" asp-for="@schoolTask.SpecialEducationNeeds" href="@editLink" />
                }
            }
            <govuk-summary-item label="Faith status" asp-for="@schoolTask.FaithStatus" href="@editLink" />
            <govuk-summary-item label="Faith type" asp-for="@faithType" href="@editLink" />

        </govuk-summary-list>
        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />

            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>

    </div>
</div>