@page "/projects/{projectId}/tasks/school"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.School.ViewSchoolTask
@{
    var editLink = string.Format(RouteConstants.EditSchoolTask, Model.ProjectId);
    ViewData["Title"] = $"School - {Model.Project.School.CurrentFreeSchoolName}";
    
    var faithType = Model.Project.School.FaithType == FaithType.Other ? $"Other - {Model.Project.School.OtherFaithType}" : Model.Project.School.FaithType.ToDescription();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="/projects/@Model.ProjectId/tasks" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">@Model.Project.School.CurrentFreeSchoolName</span>
            School
        </h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

                <dt class="govuk-summary-list__key">
                   Current free school name
                </dt>

                <dd class="govuk-summary-list__value">
                    @{
                        RenderValue(Model.Project.School.CurrentFreeSchoolName);
                    }
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@editLink">
                        Change<span class="govuk-visually-hidden"> School type</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">

                <dt class="govuk-summary-list__key">
                    School type
                </dt>

                <dd class="govuk-summary-list__value">
                    @{
                        RenderValue(Model.Project.School.SchoolType.ToDescription());
                    }
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@editLink">
                        Change<span class="govuk-visually-hidden"> School type</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    School phase
                </dt>

                <dd class="govuk-summary-list__value">
                    @{
                        RenderValue(Model.Project.School.SchoolPhase.ToDescription());
                    }
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@editLink">
                        Change<span class="govuk-visually-hidden"> School phase</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Age range
                </dt>

                <dd class="govuk-summary-list__value">
                    @{
                        RenderValue(Model.Project.School.AgeRange);
                    }
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@editLink">
                        Change<span class="govuk-visually-hidden">Age range</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Gender
                </dt>
                <dd class="govuk-summary-list__value">
                    @{
                        RenderValue(Model.Project.School.Gender.ToDescription());
                    }
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@editLink">
                        Change<span class="govuk-visually-hidden">Gender</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Nursery
                </dt>
                <dd class="govuk-summary-list__value">
                    @{
                        RenderValue(Model.Project.School.Nursery.ToString());
                    }
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="@editLink">
                        Change<span class="govuk-visually-hidden"> Nursery</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sixth form
                </dt>
                <dd class="govuk-summary-list__value">
                    @{
                        RenderValue(Model.Project.School.SixthForm.ToString());
                    }
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="@editLink">
                        Change<span class="govuk-visually-hidden">Sixth form</span>
                    </a>

                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Faith status
                </dt>
                <dd class="govuk-summary-list__value">
                    @{
                        RenderValue(Model.Project.School.FaithStatus.ToString());
                    }
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="@editLink">
                        Change
                        <span class="govuk-visually-hidden">Faith status</span>
                    </a>

                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Faith type
                </dt>
                <dd class="govuk-summary-list__value">
                   @{
                    RenderValue(faithType);   
                   }
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="@editLink">
                        Change<span class="govuk-visually-hidden">Faith type</span>
                    </a>

                </dd>
            </div>
        </dl>
        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" asp-for="MarkAsCompleted" type="checkbox" id="mark-as-complete" data-testid="mark-as-complete">
                        <label class="govuk-label govuk-checkboxes__label" for="mark-as-complete">
                            Mark this section as complete, you can still make changes later
                        </label>
                    </div>
                </div>

            </div>

            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>

    </div>
</div>

@functions {

    public void RenderValue(string value)
    {
        if (string.IsNullOrEmpty(value) || value == "NotSet")
        {
            <span class="empty">Empty</span>
        }
        else
        {
            @value
        }
    }

}