@page "/projects/{projectId}/tasks/pdg";
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.ViewPDGModel;
@{
    ViewData["Title"] = $"Project development grant (PDG) - {Model.Project.SchoolName}";

    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editPaymentScheduleLink = string.Format(RouteConstants.EditPDGPaymentSchedule, Model.ProjectId);
    var editTrustLetterLink = string.Format(RouteConstants.EditPDGTrustLetter, Model.ProjectId);

    var pdgTask = Model.Project.PDGDashboard;
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Project development grant (PDG)
        </h1>
        <govuk-summary-card id="payment-schedule" label="Payment schedule" href="@editPaymentScheduleLink">
            <govuk-summary-list>
                <govuk-summary-item label="Payment due date" asp-for="@pdgTask.PaymentScheduleDate" />
                <govuk-summary-item label="Payment due amount" asp-for="@pdgTask.PaymentScheduleAmount" />
                <govuk-summary-item label="Actual payment date" asp-for="@pdgTask.PaymentActualDate" />
                <govuk-summary-item label="Actual Payment amount" asp-for="@pdgTask.PaymentActualAmount" />
            </govuk-summary-list>
        </govuk-summary-card>
        <govuk-summary-card id="trust-letter" label="Trust letter" href="@editTrustLetterLink">
            <govuk-summary-list>
                <govuk-summary-item label="Date when DfE signed PDG letter sent from the trust" asp-for="@pdgTask.TrustSignedPDGLetterDate" />
                <govuk-summary-item label="Saved the signed trust letter in Workplaces folder " asp-for="@pdgTask.PDGLetterSavedInWorkspaces" />
            </govuk-summary-list>
        </govuk-summary-card>

        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />
            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>
    </div>
</div>