@page "/projects/{projectId}/tasks/impact-assessment/edit"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.ImpactAssessment.EditImpactAssessmentTaskModel
@{
    ViewData["Title"] = $"Edit Impact assessment - {Model.SchoolName}";

    var backlink = string.Format(RouteConstants.ViewImpactAssessmentTask, Model.ProjectId);

    var SavedInWorkplacesFolderLabel = Model.IsPresumptionRoute
        ? "Saved the signed-off impact assessment in Workplaces folder"
        : "Saved the section 9 letter and signed-off impact assessment in Workplaces folder";

}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary"/>

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
    Edit Impact assessment
</h1>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            
            @{
                //Only show for Central route projects
                if (!Model.IsPresumptionRoute)
                {
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input"
                                       id="sent-section9-letter-to-local-authority"
                                       name="sent-section9-letter-to-local-authority"
                                       type="checkbox"
                                       value="true"
                                       checked="@(Model.SentSection9LetterToLocalAuthority ? "checked" : null)"
                                       data-aria-controls="conditional-date-sent"
                                       data-testid="sent-section9-letter-to-local-authority">
                                <label class="govuk-label govuk-checkboxes__label" for="sent-section9-letter-to-local-authority">
                                    Sent section 9 letter to local authority
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional" id="conditional-date-sent">
                                <govuk-date-input id="date-sent" name="date-sent" asp-for="@Model.Section9LetterDateSent" label="Date sent" test-id="date-sent" hint="For example, 27 3 2021"/>
                            </div>
                        </div>
                    </div>
                }
            }
            
            <govuk-checkbox-input label="Conducted the impact assessment"
                                  asp-for="@Model.ImpactAssessmentDone"
                                  name="impact-assessment-done"
                                  id="impact-assessment-done"
                                  add-margin=false />

            <govuk-checkbox-input label="@SavedInWorkplacesFolderLabel"
                                  asp-for="@Model.SavedToWorkplaces"
                                  name="saved-to-workplaces"
                                  id="saved-to-workplaces"
                                  add-margin=false />

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
        
    </div>
</div>