@page "/projects/{projectId}/overview"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@model Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectOverviewModel

@{
    ViewData["Title"] = $"{Model.Project.ProjectStatus.CurrentFreeSchoolName} - About the project";
    ViewData["WidePage"] = true;
    var temporarySite = Model.Project.SiteInformation.TemporarySite;
    var permanentSite = Model.Project.SiteInformation.PermanentSite;
    var projectStatusViewModel = new ProjectStatusViewModel()
    {
        ProjectId = @Model.ProjectId,
        ProjectStatus = @Model.Project.ProjectStatus.ProjectStatus,
        Referrer = Referrer.ProjectOverview
            
    };
}

@section BeforeMain
{
    <div class="dfe-content-page--header">
        <div class="dfe-width-container ">
            <div class="govuk-grid-row ">
                <div class="govuk-grid-column-three-quarters">
                    <a href="/" class="govuk-back-link">Back to all projects</a>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-top-5 govuk-!-padding-bottom-0">
                <div class="govuk-grid-column-three-quarters">
                     <partial name="_ProjectStatusSuccessBanner"/>
                    <span class="govuk-body-s" data-testid="project-id-header">Project ID: @Model.Project.ProjectStatus.ProjectId</span>
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" data-testid="project-title-header">@Model.Project.ProjectStatus.CurrentFreeSchoolName</h1>
                    <partial name="_ProjectStatus" model="@projectStatusViewModel"/>
                    <p class="govuk-!-font-size-27 govuk-!-font-weight-bold">
                        About the project
                    </p>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-5">
                <div class="govuk-grid-column-full">
                </div>
            </div>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <msfp-nav project-id="@Model.ProjectId" />
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <h3 class="govuk-heading-m govuk-!-font-size-27" id="dates">Dates</h3>

            <dl class="govuk-summary-list govuk-summary-list--no-border">
                    @if (@Model.Project.ProjectStatus.ProjectStatus is 
                            ProjectStatus.Cancelled or 
                            ProjectStatus.Closed or 
                            ProjectStatus.WithdrawnDuringPreOpening or 
                            ProjectStatus.WithdrawnDuringApplication)
                    {   
                    <div class="govuk-summary-list__row">
                        @if (Model.Project.ProjectStatus.ProjectStatus == ProjectStatus.WithdrawnDuringPreOpening ||
                           Model.Project.ProjectStatus.ProjectStatus == ProjectStatus.WithdrawnDuringApplication)
                        {
                            <dt class="govuk-summary-list__key" id="overview-withdrawn-date">
                                Date the project was withdrawn
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="date-of-termination">
                                    @{
                                        RenderValue(Model.Project.ProjectStatus.ProjectWithdrawnDate.ToDateString());
                                    }
                            </dd>
                        }
                        else if (Model.Project.ProjectStatus.ProjectStatus == ProjectStatus.Closed)
                        {
                            <dt class="govuk-summary-list__key" id="overview-closed-date">
                                Date the school was closed
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="date-of-termination">
                                    @{
                                        RenderValue(Model.Project.ProjectStatus.ProjectClosedDate.ToDateString());
                                    }
                            </dd>
                        }
                        else if (Model.Project.ProjectStatus.ProjectStatus == ProjectStatus.Cancelled)
                        {
                            <dt class="govuk-summary-list__key" id="overview-cancelled-date">
                                Date the project was cancelled
                            </dt>
                            <dd class="govuk-summary-list__value" data-testid="date-of-termination">
                                    @{
                                        RenderValue(Model.Project.ProjectStatus.ProjectCancelledDate.ToDateString());
                                    }
                            </dd>
                        }
                    </div>
                }
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Entry into pre-opening
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="date-of-entry-into-preopening">
                        @{
                            RenderValue(Model.Project.ProjectStatus.DateOfEntryIntoPreopening.ToDateString());
                        }
                    </dd>

                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Provisional opening date agreed with trust
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="provisional-opening-date-agreed-with-trust">
                        @{
                            RenderValue(Model.Project.ProjectStatus.ProvisionalOpeningDateAgreedWithTrust.ToDateString());
                        }
                    </dd>

                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Realistic year of opening
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="realistic-year-of-opening">
                        @{
                            RenderValue(Model.Project.ProjectStatus.RealisticYearOfOpening);
                        }
                    </dd>

                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Actual opening date
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="actual-opening-date">
                        @{
                            RenderValue(Model.Project.ProjectStatus.ActualOpeningDate.ToDateString());
                        }
                    </dd>
                </div>
            </dl>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h3 class="govuk-heading-m govuk-!-font-size-27" id="trust">Trust</h3>

                <dl class="govuk-summary-list govuk-summary-list--no-border">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Trust ID
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="trust-id">
                            @{
                                RenderValue(Model.Project.SchoolDetails.TrustId);
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Trust name
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="trust-name">
                            @{
                                RenderValue(Model.Project.SchoolDetails.TrustName);
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Trust type
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="trust-type">
                            @{
                                RenderValue(Model.Project.SchoolDetails.TrustType.ToDescription());
                            }
                        </dd>

                    </div>
                </dl>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div cslass="govuk-grid-column-full">
                    <h3 class="govuk-heading-m govuk-!-font-size-27" id="reference-numbers">Reference numbers</h3>
                </div>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Project ID
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="project-id">
                            @{
                                RenderValue(Model.Project.ProjectStatus.ProjectId);
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            URN
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="urn">
                            @{
                                RenderValue(Model.Project.ProjectStatus.Urn);
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Application number
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="application-number">
                            @{
                                RenderValue(Model.Project.ProjectStatus.FreeSchoolsApplicationNumber);
                            }
                        </dd>

                    </div>


                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Project type
                        </dt>
                    <dd class="govuk-summary-list__value" data-testid="project-type">
                        @{
                            RenderValue(Model.Project.ProjectType);
                        }
                    </dd>
                    </div>


                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Application wave
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="application-wave">
                            @{
                                RenderValue(Model.Project.ProjectStatus.ApplicationWave);
                            }
                        </dd>

                    </div>
                </dl>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h3 class="govuk-heading-m govuk-!-font-size-27" id="school">School</h3>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Current name
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="free-school-name">
                            @{
                                RenderValue(@Model.Project.ProjectStatus.CurrentFreeSchoolName);
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            School type
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="school-type">
                            @{
                                RenderValue(Model.Project.SchoolDetails.SchoolType?.ToDescription());
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            School phase
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="school-phase">
                            @{
                                RenderValue(Model.Project.SchoolDetails.SchoolPhase.ToDescription());
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Faith Status
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="faith-status">
                            @{
                                RenderValue(Model.Project.SchoolDetails.FaithStatus);
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Faith type
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="faith-type">
                            @{
                                RenderValue(Model.Project.SchoolDetails.FaithType.ToDescription());
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Forms of entry
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="number-of-forms-of-entry">
                            @{
                                RenderValue(Model.Project.SchoolDetails.NumberOfEntryForms);
                            }
                        </dd>

                    </div>
                </dl>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h3 class="govuk-heading-m govuk-!-font-size-27" id="region">Region and local authority</h3>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Local authority
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="local-authority">
                            @{
                                RenderValue(Model.Project.SchoolDetails.LocalAuthority);
                            }
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Region
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="region">
                            @{
                                RenderValue(Model.Project.SchoolDetails.Region);
                            }
                        </dd>

                    </div>
                </dl>

            </div>
        </div>
    </div>
</div>

@functions {

    public void RenderValue(string value)
    {
        if (string.IsNullOrEmpty(value) || value == "NotSet")
        {
            <span class="empty">Empty</span>
        }
        else
        {
            @value
        }
    }

}