@page "/project/create/capacity"
@using static Dfe.ManageFreeSchoolProjects.API.Contracts.Project.ClassType
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.CapacityModel
@{
    ViewData["Title"] = "What is the capacity?";

}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href="@Model.BackLink" class="govuk-back-link" data-testid="back">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary" />
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">

            <div class="govuk-form-group">
                <govuk-create-title label="What is the capacity?" />
                
                @if (Model.HasNursery == Nursery.Yes)
                {
                    <div class="govuk-form-group">
                        <govuk-text-input id="nursery-capacity" name="nursery-capacity" label="Nursery" asp-for="@Model.NurseryCapacity" data-testid="nursery-capacity" hint="For example, 50" />
                    </div>
                }

                <div class="govuk-form-group">
                    <govuk-text-input id="yr-y6-capacity" name="yr-y6-capacity" label="Reception to year 6" asp-for="@Model.YRY6Capacity" data-testid="yr-y6-capacity" hint="For example, 150" />
                </div>
                <div class="govuk-form-group">
                    <govuk-text-input id="y7-y11-capacity" name="y7-y11-capacity" label="Year 7 to year 11" asp-for="@Model.Y7Y11Capacity" data-testid="y7-y11-capacity" hint="For example, 1500" />
                </div>
                <div class="govuk-form-group">
                    <govuk-text-input id="y12-y14-capacity" name="y12-y14-capacity" label="Year 12 to year 14" asp-for="@Model.Y12Y14Capacity" data-testid="y12-y14-capacity" hint="For example, 600" />
                </div>
            </div>

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
</form>
    </div>
</div>