@page "/project/create/class-type"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@using Dfe.ManageFreeSchoolProjects.Utils;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.Individual.ClassTypeModel
@{
    ViewData["Title"] = "What is the class type?";

    var nurseryOptions = new[] { ClassType.Nursery.Yes.ToString(), ClassType.Nursery.No.ToString() };
    var sixthFormOptions = new[] { ClassType.SixthForm.Yes.ToString(), ClassType.SixthForm.No.ToString() };

    var nurseryTestIds = new[] { "nursery-Yes", "nursery-No" };
    var sixthFormTestIds = new[] { "sixth-form-Yes", "sixth-form-No" };
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href="@Model.BackLink" class="govuk-back-link" data-testid="back">Back</a>
    </div>
}

<div class="govuk-form-group">
    <partial name="_ErrorSummary"/>
    <govuk-create-title label="Will it have any of these class types?" />

    <form method="post">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-heading-m" for="nursery">Nursery</label>
            <govuk-radios-input asp-for="@Model.Nursery"
                                name="nursery"
                                labels="@nurseryOptions"
                                values="@nurseryOptions"
                                test-ids="@nurseryTestIds" />
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-heading-m" for="sixth-form">Sixth form</label>
            <govuk-radios-input asp-for="@Model.SixthForm"
                                name="sixth-form"
                                labels="@sixthFormOptions"
                                values="@sixthFormOptions"
                                test-ids="@sixthFormTestIds" />
        </div>

        <br/>
        <button class="govuk-button" data-module="govuk-button" data-testid="continue">
            Continue
        </button>
    </form>
</div>