@page "/project/create/school-type"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@using Dfe.ManageFreeSchoolProjects.Utils;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.Individual.SchoolTypeModel
@{
    ViewData["Title"] = "What is the school type?";
    
    var labels = new List<string>();
    var values = new List<string>();
    var testIds = new List<string>();

    foreach (var schoolType in Enum.GetValues<SchoolType>().Except(new [] { SchoolType.NotSet, SchoolType.FurtherEducation }))
    {
        labels.Add(schoolType.ToDescription());
        values.Add(((int)schoolType).ToString());
        testIds.Add(schoolType.ToDescription());
    }
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href="@Model.BackLink" class="govuk-back-link" data-testid="back">Back</a>
    </div>
}

<div class="govuk-form-group">
    <partial name="_ErrorSummary" />
    <govuk-create-title label=" What is the school type?" for="school-type" add-margin="true" />
    <form method="post">
        <govuk-radios-input asp-for="@Model.SchoolType"
                            name="school-type"
                            labels="@labels.ToArray()"
                            values="@values.ToArray()"
                            test-ids="@testIds.ToArray()"/>
        <br/>
        <button class="govuk-button" data-module="govuk-button" data-testid="continue">
            Continue
        </button>
    </form>
</div>