@page "/projects/{projectId}/tasks/finance-plan"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Common
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.FinancePlan.ViewFinancePlanTaskModel
@{
    ViewData["Title"] = $"Finance plan - {Model.Project.SchoolName}";

    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editlink = string.Format(RouteConstants.EditFinancePlanTask, Model.ProjectId);
    var financePlan = Model.Project.FinancePlan;
}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Finance plan
        </h1>
        <govuk-summary-list>
            <govuk-summary-item label="Finance plan agreed" asp-for="@financePlan.FinancePlanAgreed" href="@editlink" />
            <govuk-summary-item label="Date agreed" asp-for="@financePlan.DateAgreed" href="@editlink" />
            <govuk-summary-item label="Plan saved in Workplaces folder" asp-for="@financePlan.PlanSavedInWorkplacesFolder" href="@editlink" />
            <govuk-summary-item label="Local authority agreed to underwrite pupil numbers" asp-for="@financePlan.LocalAuthorityAgreedPupilNumbers" href="@editlink" />

            @if (financePlan.LocalAuthorityAgreedPupilNumbers == YesNoNotApplicable.Yes)
            {
                if (Model.SchoolPhase == SchoolPhase.Primary)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Number of underwritten places
                        </dt>
                        <dd class="govuk-summary-list__value">
                            First year of opening: @financePlan.UnderwrittenPlacesPrimaryYear1
                            <br>
                            Second year of opening: @financePlan.UnderwrittenPlacesPrimaryYear2
                            <br>
                            Third year of opening: @financePlan.UnderwrittenPlacesPrimaryYear3
                            <br>
                            Fourth year of opening: @financePlan.UnderwrittenPlacesPrimaryYear4
                            <br>
                            Fifth year of opening: @financePlan.UnderwrittenPlacesPrimaryYear5
                            <br>
                            Sixth year of opening: @financePlan.UnderwrittenPlacesPrimaryYear6
                            <br>
                            Seventh year of opening: @financePlan.UnderwrittenPlacesPrimaryYear7
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@editlink">Change<span class="govuk-visually-hidden"> number of underwritten places</span></a>
                        </dd>
                    </div>
                }

                if (Model.SchoolPhase == SchoolPhase.Secondary)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Number of underwritten places
                        </dt>
                        <dd class="govuk-summary-list__value">
                            First year of opening: @financePlan.UnderwrittenPlacesSecondaryYear1
                            <br>
                            Second year of opening: @financePlan.UnderwrittenPlacesSecondaryYear2
                            <br>
                            Third year of opening: @financePlan.UnderwrittenPlacesSecondaryYear3
                            <br>
                            Fourth year of opening: @financePlan.UnderwrittenPlacesSecondaryYear4
                            <br>
                            Fifth year of opening: @financePlan.UnderwrittenPlacesSecondaryYear5
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@editlink">Change<span class="govuk-visually-hidden"> number of underwritten places</span></a>
                        </dd>
                    </div>
                }

                if (Model.SchoolPhase == SchoolPhase.SixteenToNineteen)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Number of underwritten places
                        </dt>
                        <dd class="govuk-summary-list__value">
                            First year of opening: @financePlan.UnderwrittenPlacesSixteenToNineteenYear1
                            <br>
                            Second year of opening: @financePlan.UnderwrittenPlacesSixteenToNineteenYear2
                            <br>
                            Third year of opening: @financePlan.UnderwrittenPlacesSixteenToNineteenYear3
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@editlink">Change<span class="govuk-visually-hidden"> number of underwritten places</span></a>
                        </dd>
                    </div>
                }

                if (Model.SchoolPhase == SchoolPhase.AllThrough || Model.SchoolPhase == SchoolPhase.NotSet)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Number of underwritten primary places
                        </dt>
                        <dd class="govuk-summary-list__value">
                            First year of opening: @financePlan.UnderwrittenPlacesPrimaryYear1
                            <br>
                            Second year of opening: @financePlan.UnderwrittenPlacesPrimaryYear2
                            <br>
                            Third year of opening: @financePlan.UnderwrittenPlacesPrimaryYear3
                            <br>
                            Fourth year of opening: @financePlan.UnderwrittenPlacesPrimaryYear4
                            <br>
                            Fifth year of opening: @financePlan.UnderwrittenPlacesPrimaryYear5
                            <br>
                            Sixth year of opening: @financePlan.UnderwrittenPlacesPrimaryYear6
                            <br>
                            Seventh year of opening: @financePlan.UnderwrittenPlacesPrimaryYear7
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@editlink">Change<span class="govuk-visually-hidden"> number of underwritten primary places</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Number of underwritten secondary places
                        </dt>
                        <dd class="govuk-summary-list__value">
                            First year of opening: @financePlan.UnderwrittenPlacesSecondaryYear1
                            <br>
                            Second year of opening: @financePlan.UnderwrittenPlacesSecondaryYear2
                            <br>
                            Third year of opening: @financePlan.UnderwrittenPlacesSecondaryYear3
                            <br>
                            Fourth year of opening: @financePlan.UnderwrittenPlacesSecondaryYear4
                            <br>
                            Fifth year of opening: @financePlan.UnderwrittenPlacesSecondaryYear5
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@editlink">Change<span class="govuk-visually-hidden"> number of underwritten secondary places</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Number of underwritten 16 to 19 places
                        </dt>
                        <dd class="govuk-summary-list__value">
                            First year of opening: @financePlan.UnderwrittenPlacesSixteenToNineteenYear1
                            <br>
                            Second year of opening: @financePlan.UnderwrittenPlacesSixteenToNineteenYear2
                            <br>
                            Third year of opening: @financePlan.UnderwrittenPlacesSixteenToNineteenYear3
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@editlink">Change<span class="govuk-visually-hidden"> number of underwritten sixteen to nineteen places</span></a>
                        </dd>
                    </div>
                }
                <govuk-summary-item label="Confirmation from local authority saved in workplaces folder" asp-for="@financePlan.ConfirmationFromLocalAuthoritySavedInWorkplacesFolder" href="@editlink" />
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Comments about underwritten places
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <div class="govuk-body dfe-text-area-display">@{RenderValue(@financePlan.CommentsAboutUnderwrittenPlaces);}
                        </div>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@editlink">Change<span class="govuk-visually-hidden"> comments about underwritten places</span></a>
                    </dd>
                </div>
            }
            <govuk-summary-item label="Trust will opt-in to RPA (risk protection arrangement)" asp-for="@financePlan.TrustWillOptIntoRpa" href="@editlink" />

            @if (@financePlan.TrustWillOptIntoRpa == YesNo.Yes)
            {
                <govuk-summary-item label="RPA start date" asp-for="@financePlan.RpaStartDate" href="@editlink" />
                <govuk-summary-item label="Type of RPA cover" asp-for="@financePlan.RpaCoverType" href="@editlink" />
            }

        </govuk-summary-list>
        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />
            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>
    </div>
</div>

@functions {

    public void RenderValue(string value)
    {
        if (string.IsNullOrEmpty(value) || value == "NotSet")
        {
            <span class="empty">Empty</span>
        }
        else
        {
            @value
        }
    }

}