@page "/projects/{projectId}/tasks/constituency"
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.Constituency.ViewConstituencyModel
@{
    ViewData["Title"] = $"Constituency - {Model.Project.SchoolName}";

    var searchLink = string.Format(RouteConstants.SearchConstituency, Model.ProjectId);
    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);

    var constituencyTask = Model.Project.Constituency;
}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}
    
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Constituency
        </h1>
        
        <govuk-summary-list>
            <govuk-summary-item label="Name" asp-for="@constituencyTask.Name" href="@searchLink"  /> 
            <govuk-summary-item label="MP" asp-for="@constituencyTask.MPName" href="@searchLink"  />
            <govuk-summary-item label="Political party" asp-for="@constituencyTask.Party" href="@searchLink"  />
        </govuk-summary-list>

        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />

            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>
    </div>
</div>