@page "/projects/{projectId}/tasks/principal-designate"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Common
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PrincipalDesignate.ViewPrincipalDesignateTaskModel
@{
    ViewData["Title"] = $"Principal designate - {Model.Project.SchoolName}";

    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editlink = string.Format(RouteConstants.EditPrincipalDesignateTask, Model.ProjectId);
    var principalDesignate = Model.Project.PrincipalDesignate;
}
@section BeforeMain {
    
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Principal designate
        </h1>
        <govuk-summary-list>
            <govuk-summary-item label="Commissioned an external expert" asp-for="@principalDesignate.CommissionedExternalExpertVisitToSchool" href="@editlink" />
            <govuk-summary-item label="Expected date that principal designate will be appointed" asp-for="@principalDesignate.ExpectedDatePrincipalDesignateAppointed" href="@editlink" />
            <govuk-summary-item label="Principal designate appointed" asp-for="@principalDesignate.TrustAppointedPrincipalDesignate" href="@editlink" />
            <govuk-summary-item label="Actual date that principal designate was appointed" asp-for="@principalDesignate.ActualDatePrincipalDesignateAppointed" href="@editlink" />
        </govuk-summary-list>
        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />
            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>
    </div>
</div>
