@page "/projects/{projectId}/tasks/applications-evidence"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.ApplicationsEvidence.ViewApplicationsEvidenceModel
@{
    ViewData["Title"] = $"Applications evidence - {Model.Project.SchoolName}";

    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editlink = string.Format(RouteConstants.EditApplicationsEvidenceTask, Model.ProjectId);
    var applicationsEvidence = Model.Project.ApplicationsEvidence;
}

@section BeforeMain {
    <govuk-back-link href="@backlink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Applications evidence
        </h1>
            <govuk-summary-list>
                    <govuk-summary-item label="Confirmed that the trust has provided minimum viable pupil numbers" asp-for="@applicationsEvidence.ConfirmedPupilNumbers" href="@editlink" />
                    <govuk-summary-item label="Comments" asp-for="@applicationsEvidence.Comments" href="@editlink" />
                    <govuk-summary-item label="Saved the pupil place build-up form in Workplaces folder" asp-for="@applicationsEvidence.BuildUpFormSavedToWorkplaces" href="@editlink" />
                    <govuk-summary-item label="Saved the underwriting agreement from the local authority in Workplaces folder (if applicable)" asp-for="@applicationsEvidence.UnderwritingAgreementSavedToWorkplaces" href="@editlink" />
                </govuk-summary-list>
        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />

            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>

        </form>
    </div>
</div>