@page "/projects/{projectId}/tasks/pre-funding-agreement-checkpoint-meeting"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@using Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PreFundingAgreementCheckpointMeeting
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PreFundingAgreementCheckpointMeeting.ViewPreFundingAgreementCheckpointMeetingModel
@{
    ViewData["Title"] = $"Pre-funding agreement checkpoint meeting - {Model.Project.SchoolName}";

    var backlink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editlink = string.Format(RouteConstants.EditPreFundingAgreementCheckpointMeeting, Model.ProjectId);
    var preFundingAgreementCheckpointMeeting = Model.Project.PreFundingAgreementCheckpointMeeting;
    var isPresumptionRoute = Model.Project.IsPresumptionRoute;
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Pre-funding agreement checkpoint meeting
        </h1>
        <govuk-summary-list>
            <govuk-summary-item label="Type of meeting held" asp-for="@preFundingAgreementCheckpointMeeting.TypeOfMeetingHeld" href="@editlink" />
            <govuk-summary-item label="Why a meeting was not held" asp-for="@preFundingAgreementCheckpointMeeting.WhyAMeetingWasNotHeld" href="@editlink" />
            <govuk-summary-item label="Date of the meeting" asp-for="@preFundingAgreementCheckpointMeeting.DateOfTheMeeting" href="@editlink" />
            <govuk-summary-item label="Commissioned an external expert to attend any meetings (if applicable)" asp-for="@preFundingAgreementCheckpointMeeting.CommissionedExternalExpert" href="@editlink" />
            <govuk-summary-item label="Saved the meeting note in Workplaces folder" asp-for="@preFundingAgreementCheckpointMeeting.SavedMeetingNoteInWorkplacesFolder" href="@editlink" />
            <govuk-summary-item label="Sent an email to the trust highlighting any significant concerns and necessary actions (if applicable)" asp-for="@preFundingAgreementCheckpointMeeting.SentAnEmailToTheTrust" href="@editlink" />
        </govuk-summary-list>

        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />
            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>
    </div>
</div>