@page "/project/create/bulk"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.Bulk.CreateModel
@{
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" enctype="multipart/form-data">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                <span class="govuk-caption-l">Creating a new free school project</span>
                Bulk upload
            </h1>

            <p class="govuk-body">Upload a .csv or Excel spreadsheet to create multiple projects in one go.</p>
            <p class="govuk-body govuk-!-margin-bottom-8">If you're not sure what format your file should be, <a href="/public/downloads/SPA Team - Bulk Upload Template.xlsx">download a template</a> and upload your filled-in version.</p>

            <div class="govuk-form-group">
                <label class="govuk-label" for="upload">
                    Upload a file
                </label>
                <input id="upload" class="govuk-file-upload" name="upload" type="file" accept=".xlsx,.csv" data-testid="upload">
            </div>

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>

@if (Model.RowErrors.Any())
{
    foreach (var row in Model.RowErrors)
    {
        if (!row.Errors.Any())
        {
            return;
        }

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell-border">@row.RowNumber</td>
                    @foreach (var column in row.SourceData)
                    {
                        var columnValue = !string.IsNullOrEmpty(column) ? column : "NULL";

                        <td class="govuk-table__cell govuk-table__cell-border">@columnValue</td>
                    }
                </tr>
            </tbody>
        </table>

        foreach (var error in row.Errors)
        {
            <p>@error</p>
        }
    }
}

@if (!Model.RowErrors.Any() && Model.ProjectTable != null)
{
    <div>
        @foreach (var row in Model.ProjectTable.Rows)
        {
            <h2>Project title: @row.ProjectTitle</h2>
            <p>Project ID: @row.ProjectId</p>
            <p>Trust: @row.TrustName</p>
            <p>Region: @row.Region</p>
            <p>Local authority: @row.LocalAuthority</p>
            <p>Realistic opening date: @row.RealisticOpeningDate</p>
            <p>Status: @row.Status</p>
        }
    </div>
}