@page "/projects/{projectId}/reference-numbers"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.ReferenceNumbers.ViewReferenceNumbersModel
@{
    ViewData["Title"] = $"Reference numbers - {Model.Project.SchoolName}";

    var backLink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editLink = string.Format(RouteConstants.EditReferenceNumbers, Model.ProjectId);
    var referenceNumbers = Model.Project.ReferenceNumbers;
}
@section BeforeMain {
    <govuk-back-link href="@backLink" xmlns="http://www.w3.org/1999/html">
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">@Model.Project.SchoolName</span>
            Reference numbers
        </h1>

         <govuk-summary-list>
            <govuk-summary-item label="Project ID" asp-for="@Model.ProjectId" href="@editLink" />
                <govuk-summary-item label="URN" asp-for="@referenceNumbers.Urn" href="@editLink" />
        </govuk-summary-list>

        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed" />

            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>
    </div>
</div>