@page "/projects/{projectId}/tasks/due-diligence-checks"
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.DueDiligenceChecks.ViewDueDiligenceChecks
@{
    ViewData["Title"] = $"Due diligence checks - {Model.Project.SchoolName}";

    var backLink = string.Format(RouteConstants.TaskList, Model.ProjectId);
    var editLink = string.Format(RouteConstants.EditDueDiligenceChecks, Model.ProjectId);
    var dueDiligenceChecks = Model.Project.DueDiligenceChecks;
    
    var requestedCounterTerrorismChecksVal = dueDiligenceChecks.RequestedCounterExtremismChecks switch
    {
        null => null,
        true => "Yes",
        _ => "No"
    };
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backLink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @Model.Project.SchoolName
            </span>
            Due diligence checks
        </h1>
        <govuk-summary-list>
            <govuk-summary-item label="Received Chair of Trustee's DBS countersigned certificate" asp-for="@dueDiligenceChecks.ReceivedChairOfTrusteesCountersignedCertificate" href="@editLink"/>
            <govuk-summary-item label="Non-specialist checks done on all trust members and trustees in last 2 years" asp-for="@dueDiligenceChecks.NonSpecialistChecksDoneOnAllTrustMembersAndTrustees" href="@editLink"/>
            <govuk-summary-item label="Requested counter terrorism checks" asp-for="@requestedCounterTerrorismChecksVal" href="@editLink"/>
            <govuk-summary-item label="Date when all check were completed" asp-for="@dueDiligenceChecks.DateWhenAllChecksWereCompleted" href="@editLink"/>
            <govuk-summary-item label="Saved the non-specialist checks spreadsheet in Workplaces folder" asp-for="@dueDiligenceChecks.SavedNonSpecialistChecksSpreadsheetInWorkplaces" href="@editLink"/>
            <govuk-summary-item label="Deleted copy of any Chair's DBS certificate" asp-for="@dueDiligenceChecks.DeletedAnyCopiesOfChairsDBSCertificate" href="@editLink"/>
            <govuk-summary-item label="Deleted emails containing suitability and declaration forms" asp-for="@dueDiligenceChecks.DeletedEmailsContainingSuitabilityAndDeclarationForms" href="@editLink"/>
        </govuk-summary-list>

        <form method="post">
            <govuk-checkbox-input label="Mark this section as complete, you can still make changes later"
                                  asp-for="MarkAsCompleted"
                                  name="mark-as-completed"
                                  id="mark-as-completed"/>
            <button class="govuk-button" data-module="govuk-button" data-testid="confirm">
                Confirm and continue
            </button>
        </form>
    </div>
</div>