@page "/projects/{projectId}/site-information/central"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Sites
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Risk;

@model Dfe.ManageFreeSchoolProjects.Pages.Project.SiteInformation.Central.ViewSiteInformationModel
@{
    var projectStatusViewModel = new ProjectStatusViewModel()
            {
                ProjectId = @Model.ProjectId,
                ProjectStatus = @Model.ProjectStatus,
                Referrer = Referrer.ProjectOverview
            };

    ViewData["Title"] = $"Site information - {Model.SiteInformation.SchoolName}";
    ViewData["WidePage"] = true;

    var currentNavIndex = NavConstants.NavItemList.FindIndex(item => item.Description == "Site information");
}

@section BeforeMain {
    <mfsp-project-header project-id="@Model.ProjectId"
                         school-name="@Model.SchoolName"
                         back-link="/"
                         back-text="Back"
                         page-title="Site information"
                         project-status="@projectStatusViewModel" />
}

<div class="govuk-grid-row">
    <mfsp-nav project-id="@Model.ProjectId" project-type="@Model.ProjectType" current-index="@currentNavIndex" />
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-column-full">
            <div class="govuk-inset-text" data-testid="central-route-hint">
                            Site information imported from Construct
            </div>

            <h2 class="govuk-heading-m govuk-!-font-size-27" id="temporary-site">Temporary site</h2>
            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="temporary-address">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="temporary-site-address">
                        @{
                            RenderValue(@Model.SiteInformation.TemporarySiteAddress);
                        }
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="temporary-postcode">
                        Postcode
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="temporary-site-postcode">
                        @{
                            RenderValue(@Model.SiteInformation.TemporarySitePostcode);
                        }
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="temporary-site-risk-rating">
                        Temporary site risk rating
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="temporary-site-risk-rating">
                        <govuk-risk-rating-label risk-rating="@ToRiskRating(Model.SiteInformation.TemporaryRagRating)" />
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="temporary-planning-decision">
                        Planning decision
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="temporary-site-planning-decision">
                        @{
                            RenderValue(@Model.SiteInformation.TemporarySitePlanningDecision);
                        }
                    </dd>
                </div>
            </dl>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m" id="temporary-key-dates-heading">Key dates</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third" id="temporary-key-dates">Key dates</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" id="temporary-forecast-dates">Forecast</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" id="temporary-actual-dates">Actual</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-third" id="temporary-heads-of-terms-agreed">Heads of terms agreed</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="temporary-heads-of-terms-agreed-forecast">
                            @{
                                RenderValue(@Model.SiteInformation.HoTsAgreedForTemporarySiteForecast.ToDateString());
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="temporary-heads-of-terms-agreed-actual">
                            @{
                                RenderValue(@Model.SiteInformation.DateOfHoTSecuredOnTemporaryAccommodationSiteIfRequired.ToDateString());
                            }
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-third" id="temporary-contractor-appointed">Contractor appointed</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="temporary-contractor-appointed-forecast">
                            @{
                                RenderValue(@Model.SiteInformation.ContractorForTemporarySiteAppointedForecast.ToDateString());
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="temporary-contractor-appointed-actual">
                            @{
                                RenderValue(@Model.SiteInformation.ContractorForTemporarySiteAppointedActual.ToDateString());
                            }
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-third" id="temporary-planning-decision-date">Date of planning decision</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="temporary-planning-decision-forecast">
                            @{
                                RenderValue(@Model.SiteInformation.DateOfPlanningDecisionForTemporarySiteMainPlanningRecordForecast.ToDateString());
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="temporary-planning-decision-actual">
                            @{
                                RenderValue(@Model.SiteInformation.DateOfPlanningDecisionForTemporarySiteMainPlanningRecordActual.ToDateString());
                            }
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-third" id="temporary-accomodation-first-ready-for-occupation">Temporary accommodation first ready for occupation</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="temporary-accommodation-first-ready-for-occupation-forecast">
                            @{
                                RenderValue(@Model.SiteInformation.TemporaryAccommodationFirstReadyForOccupationForecast.ToDateString());
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="temporary-accommodation-first-ready-for-occupation-actual">
                            @{
                                RenderValue(@Model.SiteInformation.TemporaryAccommodationFirstReadyForOccupationActual.ToDateString());
                            }
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="govuk-heading-m govuk-!-font-size-27" id="temporary-site">Permanent site</h2>
            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="permanent-address">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="permanent-site-address">
                        @{
                            RenderValue(@Model.SiteInformation.MainSiteAddress);
                        }
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="permanent-postcode">
                        Postcode
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="permanent-site-postcode">
                        @{
                            RenderValue(@Model.SiteInformation.PostcodeOfSite);
                        }
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="permanent-site-risk-rating">
                        Permanent site risk rating
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="permanent-site-risk-rating">
                        <govuk-risk-rating-label risk-rating="@ToRiskRating(Model.SiteInformation.PlanningRisk)" />
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="permanent-planning-decision">
                        Planning decision
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="permanent-site-planning-decision">
                        @{
                            RenderValue(@Model.SiteInformation.PlanningDecision);
                        }
                    </dd>
                </div>
            </dl>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m" id="permanent-key-dates-heading">Key dates</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third" id="permanent-key-dates">Key dates</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" id="permanent-forecast-dates">Forecast</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" id="permanent-actual-dates">Actual</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-third" id="permanent-heads-of-terms-agreed">Heads of terms agreed</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="permanent-heads-of-terms-agreed-forecast">
                            @{
                                RenderValue(@Model.SiteInformation.HoTsAgreedForSiteForMainSchoolBuildingForecast.ToDateString());
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="permanent-heads-of-terms-agreed-actual">
                            @{
                                RenderValue(@Model.SiteInformation.HoTAgreedForSiteForMainSchoolBuildingActual.ToDateString());
                            }
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-third" id="permanent-contractor-appointed">Contractor appointed</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="permanent-contractor-appointed-forecast">
                            @{
                                RenderValue(@Model.SiteInformation.ContractorForSiteForMainSchoolBuildingAppointedForecast.ToDateString());
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="permanent-contractor-appointed-actual">
                            @{
                                RenderValue(@Model.SiteInformation.ContractorForSiteForMainSchoolBuildingAppointedActual.ToDateString());
                            }
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-third" id="permanent-planning-decision-date">Date of planning decision</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="permanent-planning-decision-forecast">
                            @{
                                RenderValue(@Model.SiteInformation.DateOfPlanningDecisionForMainSiteMainPlanningRecordForecast.ToDateString());
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="permanent-planning-decision-actual">
                            @{
                                RenderValue(@Model.SiteInformation.DateOfPlanningDecisionForMainSiteMainPlanningRecordActual.ToDateString());
                            }
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-third" id="permanent-accomodation-first-ready-for-occupation">Permanent accommodation first ready for occupation</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="permanent-accommodation-first-ready-for-occupation-forecast">
                            @{
                                RenderValue(@Model.SiteInformation.MainSchoolBuildingFirstReadyForOccupationForecast.ToDateString());
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" data-testid="permanent-accommodation-first-ready-for-occupation-actual">
                            @{
                                RenderValue(@Model.SiteInformation.MainSchoolBuildingFirstReadyForOccupationActual.ToDateString());
                            }
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="govuk-heading-m govuk-!-font-size-27" id="capital-risk-information">Capital risk information</h2>
            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="capital-rating">
                        Capital rating
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="capital-rating">
                        <govuk-risk-rating-label risk-rating="@ToRiskRating(Model.SiteInformation.CapitalProjectRag)" />
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" id="risk-summary">
                        Risk summary
                    </dt>
                    <dd class="govuk-summary-list__value" data-testid="capital-rating-commentary">
                        @{
                            RenderValue(@Model.SiteInformation.CapitalProjectRagRatingCommentary);
                        }
                    </dd>
                </div>
            </dl>
            </div>
        </div>
    </div>

@functions {

    public void RenderValue(string value)
    {
        if (string.IsNullOrEmpty(value) || value == "NotSet")
        {
            <span class="empty">Empty</span>
        }
        else
        {
            @value
        }
    }

    public static ProjectRiskRating? ToRiskRating(string value)
    {
        if (value == "Green")
        {
            return ProjectRiskRating.Green;
        }

        if (value == "Amber/Green")
        {
            return ProjectRiskRating.AmberGreen;
        }

        if (value == "Amber/Red")
        {
            return ProjectRiskRating.AmberRed;
        }

        if (value == "Red")
        {
            return ProjectRiskRating.Red;
        }

        return null;
    }
}